[2017-11-03 20:58] penguineer opened #1 "Wiki von Gollum zu Netz39-Dokuwiki umziehen"
* Freifunk-MD-Bereich anlegen
* Inhalte umziehen
* Links anpassen
* altes Wiki löschen

[2017-11-03 21:00] johannwagner opened #2 "Write-Access aufs Repo"
Ich bräucht bitte Write-Access, sodass ich Tasks claimen kann.

[2017-11-03 21:00] AOphagen commented on #1
Das kann ich machen. Ich muss ggf. noch viel fragen ...

[2017-11-03 21:00] andreasscherbaum opened #3 "Zugriffsrechte"
Bitte Zugriffsrechte auf dieses Repo gewähren.

[2017-11-03 21:01] zipzob opened #4 "Aufnahme in FFMD Organisation"
@LeSpocky: Bitte nehmt mich mit in Organisation mit auf.
Thx :)

[2017-11-03 23:53] AOphagen opened #5 "Hardware-Inventur im Space"
Alle Hardwaresachen, die zum Freifunk-Projekt gehören, inventieren:
* alle Kisten auskrempeln
* Sachen sortieren
* aufschreiben, was alles da ist
* Doodle: https://doodle.com/poll/52t7nwsetxvduvaw
  * Termine bisher: 07.11.2017 & 14.11.2017, jeweils 18-21 Uhr
  * Teilnehmer bisher: @AOphagen & Doro

[2017-11-04 09:51] LeSpocky commented on #3
Einladung ist raus.

[2017-11-04 09:51] LeSpocky commented on #2
Einladung ist raus.

[2017-11-04 09:51] LeSpocky commented on #4
Einladung ist raus.

[2017-11-04 09:55] johannwagner commented on #2
Done.

[2017-11-04 09:55] #2 closed

[2017-11-04 09:56] LeSpocky commented on #1
- Zum Einloggen ins bestehende Wiki ist nur ein GitHub-Account nötig, damit müsste man alles lesen können.
- Das Ziel-Wiki ist meinem Verständnis nach http://www.netz39.de/wiki/ – richtig @penguineer?
- Was ist mit Schreibzugriff für die Website gemeint?

[2017-11-04 10:12] penguineer commented on #1
Ziel ist das Nezt39-Wiki (http://www.netz39.de/wiki), korrekt,

Ich schlage vor, dass wir dort einen Freifunk-Projektbereich einrichten. Darum würde ich mich auch kümmern, das schaffe ich aber frühstens Sonntag Abend, tendenziell eher Dientag Abend.

[2017-11-04 10:14] penguineer commented on #1
Ich habe mich hier selbst als verantwortlich eingefügt, bis der Wiki-Bereich eingeführt ist.

@AOphagen, Dich konnte ich leider noch nicht zuweisen.

[2017-11-04 16:10] AOphagen commented on #1
Mit Schreibzugriff auf die Webseite ist gemeint, dass ich auf das Netz39-Wiki (http://www.netz39.de/wiki laut @penguineer ) schreibenden Zugriff brauche, wenn ich da ein Unterwiki für Freifunk erstellen soll. Inzwischen habe ich mich bereits selbst dort registriert, aber mir ist es SEHR recht, wenn mir jemand, der mir die Zugriffsrechte gibt, mir kurz erklärst, wo ich loslegen soll.

[2017-11-05 11:20] LeSpocky commented on #1
Ich hab jetzt im Netz39 Wiki den Namespace _freifunk_ und die Gruppe _freifunk_ angelegt. Mitglieder dieser Gruppe haben volle Rechte in diesem Namespace. Bisher einziges Mitglied der Gruppe ist @AOphagen, weitere können von Wiki-Admins hinzugefügt werden.

Wir sollten diskutieren, welche Rechte Netz39 Member in dem Freifunk Namespace haben sollen.

Start jedenfalls hier: http://www.netz39.de/wiki

[2017-11-05 13:14] penguineer commented on #1
Ich habe die Frage auf das nächste Plenum gesetzt.

[2017-11-05 19:50] andreasscherbaum commented on #3
Angenommen, Danke.

[2017-11-05 19:50] #3 closed

[2017-11-05 20:06] AOphagen commented on #1
Die Arbeit ist begonnen - ich arbeite in Form einer Tiefensuche im alten Wiki. Schubweise, denn ich plane meine Zeit nicht, sondern nehme mir einfach welche - unregelmässig. ;-)

2017-11-05:

* http://www.netz39.de/wiki/freifunk:freifunk
  * http://www.netz39.de/wiki/freifunk:freifunk:ausleihe
  * http://www.netz39.de/wiki/freifunk:freifunk:anleitungen
    * http://www.netz39.de/wiki/freifunk:frei

[2017-11-06 16:31] penguineer commented on #1
Darf man zwischendurch schon bestehende Inhalte ändern oder neue Inhalte, die es nicht im md.freifunk.net-Wiki gibt, hinzufügen? Oder ist das für die Übertragung ungünstig?

[2017-11-11 23:47] AOphagen commented on #1
Heute nur eine Seite geschafft:
* http://www.netz39.de/wiki/freifunk:freifunk:anleitungen:experteneinstellungen

[2017-11-14 09:52] penguineer opened #6 "Repository netz39/freifunk"
Wir haben dieses Repository: https://github.com/netz39/freifunk

Das wurde mal angelegt, bevor es FreifunkMD als (Unter-)Organisation gab.
Ich schlage vor, die relevanten Inhalte in dieses Repository (FFMD-Orga) umzuziehen und das alte Repository zu schließen/löschen.

Was meint ihr?

[2017-11-14 11:22] LeSpocky commented on #6
Hatte ich letzte Woche schon gesehen, dass es das alte Repo noch gibt und dachte so, da wären Sachen drin, die den Netz39 als Verein betreffen. Wenn ich mir jetzt so die Sachen anschaue, kann man die Repos vermutlich wirklich mergen. Tickets o.ä. waren auf dem anderen Ding ja gar nicht drauf.

Also von mir aus ja, keine Einwände, wobei es mir in Wirklichkeit eher egal ist. ;-)

[2017-11-14 18:12] AOphagen opened #7 "Inventur: Ordner für Unterlagen fehlt"
Bei der Inventur haben wir Papiere gefunden, genug, dass wir einen Ordner dafür für sinnvoll halten.

Es müsste einer angeschafft / gefunden werden, in den dann die Zettel die aufbewahrt werden sollen, eingeheftet werden.

[2017-11-14 23:09] AOphagen commented on #5
Fertig. Die Inventurdatei ist als Pull Request im Freifunk-Repo avisiert. Alles steht wieder rechts im Raum beim Schreibtisch. Bitte noch den Pull-Request fertig machen und dann dieses Issue schließen.

[2017-11-17 19:17] penguineer commented on #6
Auf dem Freifunk-Treffen am 2017-11-17 wurde zugestimmt.

[2017-11-17 19:47] penguineer opened #8 "Anleitung zum Aufsetzen eines Gateways aktualisieren"
Die Beschreibung soll darlegen, was laufen/eingerichtet werden muss, um ein Gateway für freifunkMD in Betrieb zu nehmen.

Anschließend soll daraus ein Ansible-Playbook entstehen.

[2017-11-17 20:19] johannwagner opened #9 "Upgrade der Firmware"
- [x] Upgrade der Firmware auf die letzte Gluon-Version, welche noch OpenWRT fährt.
- [x] Testen mit lokalen Geräten
- [x] Manifest signieren
- [x] Beta-Firmware auf gw1

http://firmware.md.freifunk.net/beta/0.38~beta.2/

- [x] TP-Link WR841 N/ND
- [x] 1043
- [ ] Nanostation

[2017-11-17 20:21] penguineer commented on #1
Wir brauchen einen internen Bereich, in den dann unter anderem diese Seite umgezogen wird
* http://www.netz39.de/wiki/projects_protected:2014:freifunk

[2017-11-17 20:22] andreasscherbaum opened #10 "Travis prüfen"
Wie viel Speicherplatz stellt Travis zur Verfügung? Reicht das aus um einmal ein gluon Image Set zu bauen?

[code]

[2017-11-17 20:25] baccenfutter opened #11 "Bitte Github User einladen"
Bitte den GH User`baccenfutter` einladen und mit Rechten ausstatten.

[2017-11-17 20:28] penguineer commented on #5
Ich habe @eriu hier mal hinzugefügt.
Task: eigene Sachen aussortieren

[2017-11-17 20:38] LeSpocky commented on #10
12G? Wir hatten zuletzt bei der alten Firmware schon über 40G, kan mir nicht vorstelle, dass das geringer geworden ist.

[2017-11-17 20:41] LeSpocky commented on #9
Ist hier Gluon gemeint und nicht OpenWRT? Bitte die entsprechenden Issues und Pull Requests in diesem Repo hier ansehen und bearbeiten: https://github.com/FreifunkMD/site-ffmd

[2017-11-17 20:42] andreasscherbaum commented on #10
Müsste mal das Log durch schauen, aber dem Ende nach sieht das sauber aus. Allerdings baue ich da wohl auch nicht alle Images.

[2017-11-17 20:45] LeSpocky commented on #11
Einladung ist raus.

[2017-11-17 20:51] andreasscherbaum commented on #11
Erledigt. Danke

[2017-11-17 20:51] #11 closed

[2017-11-18 08:20] eriu commented on #9
gemeint ist https://gluon.readthedocs.io/en/v2017.1.x/releases/v2016.2.7.html

[2017-11-19 09:16] baccenfutter commented on #10
Auf allen Travis Seiten, auf denen Limits angegeben werden, ist nichts dazu zu finden. Stoarge scheint bei denen keine Kennzahl zu sein.

[2017-11-20 11:17] andreasscherbaum commented on #10
Ein Limit das ich gefunden habe ist "4 MB Log Size":
https://docs.travis-ci.com/user/common-build-problems/
Wenn der Buid mehr Output produziert, dann wird der abgebrochen.

[2017-11-21 15:41] penguineer commented on #5
@eriu hat seine Sachen aussortiert.

[2017-11-21 15:43] penguineer commented on #4
@zipzob hat das funktioniert?

[2017-11-21 15:45] penguineer commented on #1
@AOphagen Was hältst Du davon, wenn wir für die Wiki-Seiten schon mal Stubs anlegen (mit link auf das alte Wiki), damit die Struktur sichtbar ist? Dann könnten auch schon andere Inhalte eingepflegt werden.

[2017-11-21 15:50] penguineer commented on #7
Pro forma noch einmal auf dem nächsten Plenum, sollte aber kein Problem sein.

http://www.netz39.de/wiki/stammtisch:2017:2017-11-29#allgemeines_und_aktuelles

[2017-11-22 04:46] AOphagen commented on #1
Roger. Ich bin leider nicht wieder dazu gekommen. Das ist eine sehr gute Idee.Am 21.11.2017 16:45 schrieb Stefan Haun <notifications@github.com>:@AOphagen Was hältst Du davon, wenn wir für die Wiki-Seiten schon mal Stubs anlegen (mit link auf das alte Wiki), damit die Struktur sichtbar ist? Dann könnten auch schon andere Inhalte eingepflegt werden.

—You are receiving this because you were mention

[2017-11-24 22:10] AOphagen commented on #1
* Heute wieder eine Seite geschafft: http://www.netz39.de/wiki/freifunk:freifunk:anleitungen:unbricknanostation
* Zu allen bereits sichtbaren, aber noch unbearbeiteten Links eine Seite mit Link auf die Quellseite erstellt. Beispiel: http://www.netz39.de/wiki/freifunk:freifunk:anleitungen:einspielenoriginalfirmware
* **Nachteil**: man sieht nicht, wie viel noch fehlt!

[2017-11-27 00:23] baccenfutter commented on #10
Ich bin zurück aus Köln und habe einfach mal einen Test-Case gebaut und gegen Travis gefahren.

Hier meine `.travis.yml`:
- https://github.com/baccenfutter/travistest/blob/master/.travis.yml

Hier die Testergebnisse:
- https://travis-ci.org/baccenfutter/travistest/builds/307663901

[code]

Es bleibt noch die Möglichkeit einfach mal ganz freundlich zu fragen. "Hey, wir sind vom Freifunk und brauche

[2017-11-27 00:24] andreasscherbaum commented on #10
Oder mal schauen welche anderen Build Möglichkeiten es gibt.

[2017-11-27 08:44] baccenfutter commented on #10
Mir ist soweit keine Alternative zu Travis bekannt, die einen vergleichbaren Funktionsumfang hat und FOSS supported. Das andere Ende der Fahnenstange wäre dann wohl die Build-Umgebung auf eigener Hardware selbst zusammen zu schustern - evtl. in Form eines Docker Containers?

Alternativen zu Travis:
- circleci.com (no free OSS builds)
- http://codeship.com
- drone.io
- semaphoreapp.com
- tddium.com

[2017-11-27 08:54] baccenfutter commented on #10
Da fällt mir ein: Es gäbe auch noch Gitlab-CI. Das (und Gitlab insgesamt) sei wohl mittlerweile recht brauchbar und maintainable, heißt es. Erfahrungen habe ich da keine.

[2017-11-27 09:12] LeSpocky commented on #10
Andere Freifunk-Communities nutzen bereits CI, vielleicht schaut man sich da nochmal um? Ich kann mich dunkel an Jenkins bei Freifunk Frankfurt/Main erinnern und Freifunk Braunschweig will da was mit Labgrid und Jenkins machen bzw. macht schon: https://stratum0.org/blog/posts/2017/08/16/freifunk-ci/

Im Freifunk Forum kann man mal nach Jenkins suchen, da werden dann auch Alternativen diskutiert: h

[2017-11-27 09:27] andreasscherbaum commented on #10
Der Blog Post sagt leider auch nur dass sie mal Jenkins machen wollen. Neuere Blog Posts zu dem Thema gibt es dort nicht.

Gut, müssen wir uns jetzt entscheiden, ob wir versuchen eines der Systeme aufzusetzen, oder mal bei Travis nachfragen.

[2017-11-27 11:10] penguineer commented on #10
Das Nachfragen geht wahrscheinlich erstmal mit weniger Aufwand. Wenn das nicht bringt, plädiere ich auch für eine Jenkins-basierte Lösung. Dann sollten wir nochmal diskutieren, wie/wo die läuft.

[2017-11-27 11:17] baccenfutter commented on #10
Meine Gedanken dazu:
Ein eigenes System müssen wir nicht nur aufsetzen, sondern auch betreiben, warten und pflegen. Selbst wenn wir es vollständig mit Ansible managen, müssen dann halt langfristig Rollen und Plays maintained und irgendwo ausgeführen werden.

CI-as-a-Service Lösungen wie Travis sind aus meiner Sicht desshalb so attraktiv, weil sie "einfach laufen"
(TM) und sich out-of-the-box mit G

[2017-11-27 11:17] andreasscherbaum commented on #10
@baccenfutter Kannst du das übernehmen?

[2017-11-27 11:29] baccenfutter commented on #10
@andreasscherbaum kann ich schon machen, aber ich denke, es hätte einen anderen Impact, wenn da was von vorstand@freifunk steht, statt von irgendwer@c-base.org. Meinst nicht?

Ansonsten bin ich grade über was Interessantes gestolpert, was ich so vorher noch nicht auf dem Tacho hatte:
- http://www.lambda.cd/

Hier benutzt das ein Freifunker auch schon:
- https://github.com/freifunk/videoodyssee.fre

[2017-11-27 11:33] andreasscherbaum commented on #10
Es gibt nur eine Mailingliste "vorstand-oberhavel", das ist keine reguläre Adresse die als Absender verwendet wird. Keine Ahnung ob Magdeburg da etwas hat ...

[2017-11-27 11:34] andreasscherbaum commented on #10
Für das LambdaCD - die nutzen gar keine Container? Wie kann das sicher sein ;-)

Scherz beiseite, sieht auf jeden Fall mal interessant aus.

[2017-11-27 12:26] penguineer commented on #10
Freifunk MD hat keine Hierarchie und ist organisatorisch im Netz39 untergebracht, von daher gibt es auch keinen offiziellen Vorstand und keine offizielle Vorstandsadresse. Es könnte sich höchstens der Netz39-Vorstand dort hin wenden. Dann sollte aber trotzdem jemand eine passende E-Mail formulieren und den Absender heraussuchen.

[2017-11-27 15:43] baccenfutter commented on #10
Ich hab die jetzt einfach mal angeschrieben. Mal schauen was passiert.

Gibt es denn jemanden, der sich ansonsten gerne bereit erklärt einen CI-Server aufzusetzen und zu warten? Gerne direkt in Form einer Ansible-Role? Falls sich da niemand drum reißt, würde ich mich bereit erklären eine Ansible-Role für `Drone` zu schreiben.

- https://www.youtube.com/watch?v=pP3iRUC6EOM&feature=youtu.be&t=19m54s

[2017-11-27 21:42] andreasscherbaum commented on #10
Können wir die potentiellen Kandidaten evaluieren, bevor wir uns da auf eine Software festlegen? Travis hört sich gut an weil es einfach mit GitHub integriert ist. Wenn es nicht Travis ist, ist hier eine (sicherlich unvollständige) Liste mit Fragen:

* selbst gehostet oder in der Cloud
* parallele Builds möglich
* kostenlos oder welche Kosten fallen an
* in Europa gehostet
* verwendete Programmier

[2017-11-27 23:24] penguineer commented on #10
* wie schnell soll der Build durchlaufen?
* wie oft soll ein Build durchgeführt werden?

[2017-11-28 07:20] LeSpocky commented on #10
Auch andere Dienste bzw. lassen sich mit GitHub integrieren. Für Jenkins gibt es bspw. allein zwei verschiedene Plugins. Die Anbindung an GitHub sollte da aber kein k.o. Kriterium sein, ein Umzug zu einem anderen Git Hoster (ggf. man selbst) kann schneller nötig sein als man denkt. ;-)

[2017-11-28 07:27] johannwagner commented on #10
Ich stimme dem Punkt zu, dass man möglichst wenig selbst halten möchte. Wenn wir es selbst halten, braucht das ne Menge und gute Doku. Sonst stehen wir in vier Jahren wieder vor dem gleichen Problem wie jetzt..

[2017-11-28 08:17] penguineer commented on #10
Das stimmt schon, wir wollen unseren Aufwand minimieren. Da sehe ich mit Ansible und Docker aber auch gute Chancen. Sonst haben wir irgendwann ein System in der Cloud, durch das keiner mehr durchblickt, das aber ggf. trotzdem munter weiter macht.

Passenderweise hat @LeSpocky heute das aus dem Internet gefiltert:
http://geek-and-poke.com/geekandpoke/2017/11/27/simply-explained

[2017-11-28 09:45] baccenfutter commented on #10
@andreasscherbaum: Ich wollte es nicht so klingen lassen, als würde ich mich bereits auf eine Software festlegen. Ich wollte nur zum Audruck bringen, dass ich eher weniger Bock hab mich freiwillig für die Maintenance zu melden, aber wenn ich es machen muss, weil es nunmal irgend jemand machen muss, dann würde ich Drone bevorzugen und das auch gleich in Form einer Ansible-Role abfackeln.

Ich bin a

[2017-11-28 09:58] baccenfutter commented on #10
Antworten für Drone:
- [x] selbst gehostet oder in der Cloud
  => beides möglich
- [x] parallele Builds möglich
  => ja
- [x] kostenlos oder welche Kosten fallen an
  => self-hosted == 0,00 EUR (alleine das Build-Tool)
- [x] in Europa gehostet
  => ziemlich genau auf dem Server auf dem wir es aufsetzen
- [x] verwendete Programmiersprache
  => Golang, JS
- [x] Buildumgebung komplett isoliert (Conta

[2017-11-29 20:29] LeSpocky commented on #7
@zipzob hat sich bereit erklärt einen Ordner zur Verfügung zu stellen

[2017-11-29 20:32] zipzob commented on #4
Danke, hat funktioniert. Habe leider keine Mail bekommen, daher die späte Antwort.

[2017-11-29 20:32] #4 closed

[2017-12-01 07:50] baccenfutter commented on #10
Hab die Tage ein bisschen was rum gespielt und dabei ist dann auch gleich ein fertiges Docker-Compose File raus gekommen. Von Travis hab ich bisher leider nur eine automatische Antwort des Ticket-Systems erhalten.

Hier ein fertiger FreiFunk CI Server auf Basis von Docker und Drone, der einfach so sofort die Arbeit aufnimmt, egal wo man ihn aufsetzt (inkl. fancy JS-UI auf Port 8080):
[code]

[2017-12-02 08:19] baccenfutter commented on #10
Der Travis-Support hat sich mit einer guten und mit einer schlechten Nachricht gemeldet.
- Sie bieten uns gerne eine VM.
- Die maximale Größe, die sie uns anbieten können, bietet 30G und da fehlen dann aber noch die build-essentials und co.

[2017-12-02 09:08] LeSpocky commented on #10
Wenn man jedes GLUON_TARGET einzeln baut, reicht der Platz. Dann müsste man beim Build aber anders vorgehen, jeweils:

* clean
* ein target bauen
* Ergebnisse wegkopieren

Wenn man das ungeschickt anstellt, baut man jedesmal alles neu inklusive Toolchain, aber grundsätzlich könnte das gehen.

[2017-12-03 14:03] baccenfutter commented on #10
Ständig am oberen Limit zu kratzen und einzeln Builds weg zu kopieren dürfte den gesamten Build-Prozess spürbar verlangsamen. Weiß nicht, ob das optimale Voraussetzungen für eine zukunftsweisende Infrastruktur sind. Das führt doch sicherlich nur dazu, dass wir den ganzen CI Kram in max. 1-2 Jahren wieder komplett umwerfen müssen, oder nicht? Ich meine... ich kenn den Gluon Build-Prozess nicht. Ich

[2017-12-03 19:16] LeSpocky commented on #10
Pro target, man könnte auch sagen pro Architektur oder pro Platform (wobei das technisch nicht ganz korrekt wäre), wird eine neue Cross-Toolchain gebaut und das ganze System einmal kompiliert inklusive Bootloader, Kernel und Userland, ggf. mit unterschiedlichen targetspezifischen Patches, da bin ich nicht ganz sicher. Für ein target braucht man IIRC ca. 7 GB, ± ein bisschen. Es ist zumindest für F

[2017-12-03 21:25] andreasscherbaum commented on #10
Wie lange braucht das derzeit für eine Architektur/Target? Die Travis CI hat wohl pro Build ein Limit von 2 Stunden, wenn ich das richtig in Erinnerung habe.

@baccenfutter Kriegt man das "drone" in einen LXC/D Container gepackt?

[2017-12-03 22:09] baccenfutter commented on #10
@andreasscherbaum: Den Drone-Server kriegen wir sicherlich in einen LXC/D Container, aber die Drone-Agents (die können ja ansonsten auch sonstwo laufen und beliebig hoch und runter fahren, solange sie das Shared-Secret des Drone-Servers kennen und den auf Port 9000 erreichen können) brauchen zwingend Zugriff auf den Docker-Socket ihres jeweiligen Hosts und müssen (zumindest im Docker-Context) im p

[2017-12-03 22:21] penguineer commented on #10
An der Stelle könnten wir noch einmal überlegen, ob wir die Zahl der von uns regelmäßig geprüften Architekturen beschränken wollen. Ich hatte dazu früher schon vorgeschlagen, nur eine Auswahl von Geräten zuverlässig zu unterstützen und den Rest mehr oder weniger den jeweiligen Nutzern zu überlassen, um unseren Support-Aufwand zu verringern.

Für CI würde das bedeuten, dass wir die Zahl der ständig

[2017-12-04 00:37] andreasscherbaum commented on #10
@baccenfutter Dann sollten alle Container unter Docker laufen, nicht unter LXC/D. Zwei Systeme zum Managen von Containern auf einem Host kann nicht gutgehen.

Kriegt man den ganzen Router ect. dort auch drauf zum Laufen, wie sieht das mit Management in den Containern dann aus?

[2017-12-04 11:05] baccenfutter commented on #10
Bin mir nicht sicher, ob ich deine Fragen richtig verstehe...

Den fertigen Build kriegen wir **theoretisch** auch im Docker zum Laufen, sofern wir das in einem Docker starten, der auf der jeweils richtigen Archtiektur läuft.

Management in den Build-Container selbst existitiert nicht. Die sind volatil und machen nach jedem Build *puff*. Wenn man was debuggen muss, dann muss man den/die Container

[2017-12-04 18:47] andreasscherbaum commented on #10
Na ja, ich hatte jetzt angefangen einiges in LXD aufzusetzen. Aber zwei Container Umgebungen parallel machen keinen Sinn ...

[2017-12-04 20:40] baccenfutter commented on #10
Ja tut mir leid, wenn ich da jetzt ewas voreilig war. Ich hab mich eines Abends einfach durch deren Doku geklickt, weil ich das auch für die Firma interessant find, und da fällt am Ende halt einfach ein `docker-compose.yml` raus.

[2017-12-07 18:15] penguineer commented on #6
Done, die Commits mit Inhalten wurden in dieses Repository transferiert. Das alte Repository habe ich gelöscht.

[2017-12-07 18:15] #6 closed

[2017-12-07 21:15] penguineer commented on #5
Die Listen sind nun im Orga-Repo. Ich schließe diesen PR.

[2017-12-07 21:15] #5 closed

[2017-12-12 19:19] zipzob commented on #7
Ein Ordner befindet sich auf dem Sam­mel­su­ri­um in Hempels Zimmer.

[2017-12-12 19:19] #7 closed

[2017-12-30 22:06] andreasscherbaum commented on #10
So, hin und her gelesen und probiert: "drone" wird kein LXC/LXD unterstützen (https://github.com/drone/drone/issues/1240), außerdem gibt es keine Debian Packages - nur fertige Docker Container (https://github.com/drone/drone/issues/1126). Update Strategie unklar.

Auch müsste ich dann den Rest alles auf Docker statt auf LXC/D umstellen - und dann ist die Update Strategie dort auch ungewiss. Beides

[2018-01-11 10:58] penguineer commented on #1
Folgende Seiten umgezogen:
* http://www.netz39.de/wiki/freifunk:freifunk:anleitungen:einspielenoriginalfirmware

Diese Seiten können weiterhin auf die externen Links verweisen:
* Router Recovery - TFTP Pushbutton und TTL (Serial Recovery)
* Richtfunk: Nanostation als Bridge
* Typische Freifunk Setups

Damit ist der Teil "Anleitungen" erledigt.

[2018-01-11 11:18] penguineer commented on #1
Gateway-Teil ist erledigt:
* http://www.netz39.de/wiki/freifunk:freifunk:gateway
* http://www.netz39.de/wiki/freifunk:freifunk:gateway:konfiguration
* http://www.netz39.de/wiki/freifunk:freifunk:gateway:example

Als sehr hilfreich hat sich [Pandoc](http://pandoc.org/try/) erwiesen.

[2018-01-11 11:27] penguineer commented on #1
PR ist erledigt:
* http://www.netz39.de/wiki/freifunk:freifunk:prmaterial

[2018-01-11 11:43] penguineer commented on #1
Erledigt:
* http://www.netz39.de/wiki/freifunk:freifunk:treffen
* http://www.netz39.de/wiki/freifunk:freifunk:tauschboerse
* http://www.netz39.de/wiki/freifunk:freifunk:webserverkonfiguration

[2018-01-11 11:44] penguineer commented on #1
Es verbleibt der Bereich [Projekte](https://wiki.md.freifunk.net/Projekte).

[2018-01-11 11:45] penguineer commented on #1
Außerdem ist der Namespace `freifunk` irgendwie gedoppelt. Das sollten wir in einem gesonderten Issue lösen.

[2018-01-11 12:24] AOphagen commented on #1
Am Donnerstag, 11. Januar 2018, 12:44:55 CET schrieb Stefan Haun:

Danke für die Mühe.

[2018-01-11 14:07] baccenfutter commented on #10
Update Strategie:
[code]

Beim Starten holt sich Docker automatisch das `:latest` Image, wenn es ein neueres gibt. Da die Config und SQLite3 DB durch ein Volume in den Container gereicht wird, hängt sich der neue Container an die alte DB, findet Config und alles funktioniert einfach weiter.

----

Nicht, dass ich mich für Drone als Lösung einsetzen will, ich kenn das auch noch nicht aus dem produk

[2018-01-11 14:23] johannwagner commented on #10
Ich denke, dass die Drone-Docker-Lösung schon funktionieren wird. Wenn man das richtig hält. dann nimmt das einem viel Arbeit ab, gerade, wenn die Tags vernünftig gesetzt werden und sowas.

Ich finde die Entscheidung für CI einen sehr wichtigen Schritt.

[2018-01-11 15:43] baccenfutter commented on #10
Jenkins und Gitlab-CI (o. Ä.) sind halt die Platzhirsche. Bei Drone finde ich den Gedanken nach wie vor ziemlich sexy, dass es im Disasterfall mit einem Zweizeiler wieder am Start ist. Ggf. muss in Github noch die Webhook-URL angepasst oder einen DNS-Change gemacht werden. Im Worst-Case verliert man die Build-History. Meiner Ansicht nach, ist die in unserem Fall nicht sooo wichtig. Wenn doch, dann

[2018-01-11 16:09] andreasscherbaum commented on #10
Das Problem ist nicht Drone, sondern Docker. Wenn du ein Ding mit Docker machst, dann musst du alles auf dem Host mit Docker machen. Das verträgt sich nicht mit anderen Container-Lösungen.

Würde es Drone nicht nur als Docker Container geben, sondern auch so zum Installieren, hätte das wahrscheinlich viel mehr Charme.

[2018-01-11 16:47] baccenfutter commented on #10
Warum? Auf meinem Gentoo Server beim Hoster habe ich sowohl LXC Container, als auch Docker Container am laufen? Warum sollte das in unserem Fall nicht auch gehen?

[2018-01-11 17:42] andreasscherbaum commented on #10
Das funktionierte bei mir nicht sauber. Die streiten sich um Resourcen ect.
Und Drone in LXC/D wird zum Beispiel explizit nicht unterstützt.

Die entscheidende Frage: Docker nur wegen Drone?
Oder hat jemand Docker für den Rest der notwendigen Software auch fertig?

[2018-01-12 10:42] baccenfutter commented on #10
Docker und LXC/D benutzen beide `cgroups`. `cgroups` in `cgroups` unterstuetzt der Kernel AFAIK nicht, daher gehen weder Docker in LXC/D noch anders herum. Aber nebeneinander sollten die sich nicht mehr um die Resourcen streiten, wie zwei Prozesse auf der selben CPU sich um die Resourcen streiten. Nach einem `apt-repository ...: apt install docker` ist die Einrichtung von Docker auch schon durch.

[2018-01-12 18:26] johannwagner opened #12 "[Wiki] Pads mit Datum"
Pads sollten an einer Stelle im neuen Wiki mit Datum verlinkt sein, um die Übersicht zu wahren.

[2018-01-12 18:34] johannwagner opened #13 "Umzug firmware.freifunk.net auf Webserver"
Laut Christian liegt auf dem GW1 noch ne Menge Firmwarepakete
In der FIrmware liegt (wahrscheinlich) ne URL drin (firmware.freifunk.net), welche auf das GW1 zeigt.
Das sollte noch umgezogen werden auf den Websever.

[2018-01-12 18:41] penguineer opened #14 "Automatischer Neustart der VPN-Tunnel auf den Gateways"
Die VPN-Tunnel brechen hin und wieder zusammen, ohne neu aufgebaut werden.
Das Script soll regelmäßig prüfen, ob noch Traffic über den Tunnel geht und diesen ggf. neustarten.

[2018-01-12 19:10] penguineer opened #15 "Inventur: Versionsnummern der Routerhardware"
Für Firmware-Revisionen ist die Versionsnummer der Routerhardware notwendig. (v7, ...)
Diese sollte ebenfalls in der Inventurliste gepflegt werden.

[2018-01-12 20:34] polybos commented on #1
Habe mit den [Projekten](http://www.netz39.de/wiki/freifunk:freifunk:projekte) angefangen:
* [Projekt Ballenstedt](http://www.netz39.de/wiki/freifunk:projekte:ballenstedt)
* [Projekt Sinnlichkeit / JVA](http://www.netz39.de/wiki/freifunk:projekte:sinnlichkeit_jva)
* Freifunk für Flüchtlinge
    * [Allgemeine Anleitung Aufbau für soziale Einrichtungen & Flüchtlingen](http://www.netz39.de/wiki/freif

[2018-01-13 07:52] johannwagner commented on #9
Ich habe gestern Nacht mal, mit Hilfe des Pull-Requests von vitapower ein Gluon mit v2016.2.7 gebaut.
Images liegen hier jetzt rum. Ich bräuchte nur mal einen Freiwilligen mit etwas mehr Fachkunde, um die Images zu testen.

[code]

[2018-01-14 22:56] penguineer commented on #12
Die Stelle wird zunächst dort sein: http://www.netz39.de/wiki/freifunk:freifunk:treffen

[2018-01-16 09:36] LeSpocky commented on #13
Derzeit liegen die Firmware-Images auf gw1.md.freifunk.net weil:

    Filesystem                                              Size  Used Avail Use% Mounted on
    rootfs                                                  229G   29G  189G  14% /

Auf web1.md.freifunk.net ist aktuell nicht genug Platz für eine größere Menge Firmware-Images:

    Filesystem      Size  Used Avail Use% Mounted on
    /de

[2018-01-16 09:39] LeSpocky commented on #13
Laut `site.conf` ziehen sich die Knoten ihre Firmware bspw. von http://stable.updates.firmware.ffmd/ also einer internen URL, keiner festen IP. Die Adresse http://firmware.md.freifunk.net/ ist dafür gedacht, dass der Nutzer manuell Firmware runterladen kann, die Knoten nutzen diese Adresse nicht. Man müsste da nach einem Umzug halt an einigen Stellen das DNS anpassen.

[2018-01-16 09:46] penguineer commented on #13
Ggf. legt man die Images auf einen anderen Server und richtet ein Forward ein (301) oder einen Forward Proxy. Dann können auch die Images umziehen.

[2018-01-16 09:46] penguineer commented on #9
Kannst Du dokumentieren, wie Du die Firmware gebaut hast? So einzelne Schritte, damit ich das bei mir mal reproduzieren kann?

[2018-01-16 09:58] penguineer commented on #12
Pads sind verlinkt und der Turnus wurde aktualisiert.

[2018-01-16 09:58] #12 closed, assigned to penguineer

[2018-01-16 09:59] penguineer opened #16 "Kalendereinträge für Freifunk-Treffen nach neuem Turnus anlegen."

[2018-01-16 10:00] johannwagner commented on #9
Ich habe alles in ein Dockerfile geworfen und als Container gebaut, damit ich das Ganze reproduzierbar bauen kann. Die site.conf kann halt nach Belieben angepasst werden.

Ich clone hier vom gcc-Image, da die Leute ihr Kram im Griff haben. Wenn man von einem Ubuntu-Image clont, dann gibts nen Fehler, dass die GCC-Version nicht stimmt, ist etwas komplexer, kann ich bei Gelegenheit erklären.

[code]

[2018-01-16 10:01] johannwagner commented on #9
Die Konfiguration baut, so wie sie jetzt ist, noch nicht. Ich weiß aber noch nicht, warum. Es wird ein Binary nicht richtig erstellt, weil es, laut Google, zu groß geworden ist und dann bricht das make-File mittendrin ab.
Log wird gerade produziert.

[2018-01-16 10:59] johannwagner commented on #9
[code]

[2018-01-16 12:08] penguineer commented on #9
Sieht für mich gerades so aus, als wäre das das kritische Kommando:

`cp /gluon/build/ar71xx-generic/profiles/TLWR940_REGION/images/gluon-tl-wr940n-v4-squashfs-sysupgrade.bin /gluon/output/images/sysupgrade/gluon-ffmd-$(cat /gluon/build/ar71xx-generic/prepared)-tp-link-tl-wr940n-v4-sysupgrade.bin
`

Daraus kommt die Fehlermeldung

Gibt es vorher schon einen Grund, warum das nicht gebaut wurde? (Me

[2018-01-16 13:10] johannwagner commented on #9
Laut einer kurzen Google-Recherchen wird das Image vorher nicht gebaut, da die Binary Size zu groß wird. Es gab da schon mal ein Bug und der Workaround war, dass entweder weniger Sprachen oder Pakete eingebaut werden sollen.

Mehr Infos hier: https://github.com/freifunk-gluon/gluon/issues/1009

EDIT: Ich werde daraus aber nicht so wirklich schlau.

[2018-01-16 13:27] penguineer commented on #9
Hast Du die Begrenzung der Sprachen mal probiert? Die Erklärung, dass das erzeugte Image für den Flash zu groß ist, klingt plausibel. (Wobei es schöner wäre, wenn das Make-Script an der Stelle eine Warnung ausgibt, anstatt mit einem anderen Fehler abzubrechen.

Für erste Tests könntest Du die Plattform auch weglassen bzw. nur für den Router bauen, auf dem Du testen möchtest.

[2018-01-16 14:19] johannwagner commented on #9
Jo, habe ich probiert, gibt keine Änderung.
Ich baue gerade ohne das Target, mal schauen, ob es klappt.

Desweiteren möchte das Build-Script überarbeitet werden, das ist echt übel zu lesen..

[2018-01-16 15:39] penguineer commented on #9
Ja, aber das ist eine andere Baustelle. ^^

[2018-01-16 16:34] johannwagner commented on #9
Okay, wenn ich ohne das Build-Script baue, dann baut alles ohne Probleme. Ich hab jetzt ne Version für Gluon v2016.2.7, welche getestet werden kann.

[2018-01-16 19:10] penguineer commented on #9
Hast Du nochmal ein angepasstes Dockerfile? Und den Docker-Aufruf dazu?

[2018-01-16 19:49] johannwagner commented on #9
### Allgemeines

[code]

Der Container kann ganz normal gebaut werden, beispielsweise mit `docker build -t ffmd-v2016.2.7 .` und dann mit `docker run -i --name ffmd  ffmd-v2016.2.x` gestartet werden. In dem Container ist dann alles vorbereitet für die Builds, es kann nach der Gluon-Anleitung vorgegangen werden. Das `build.sh`-Script hat für mich nicht funktioniert, da müsste man nochmal drüber sch

[2018-01-17 07:55] LeSpocky commented on #9
@johannwagner Mach bitte für `build.sh` extra Tickets auf. Speziell auch in Bezug auf »echt übel zu lesen«, das erschließt sich mir nämlich nicht.

[2018-01-17 07:56] johannwagner commented on #9
@LeSpocky Natürlich, mach ich noch. Wollte das nur mal für mich vormerken. Für mich als Neuling erschließen sich einige Dinge nicht, deswegen würde ich mich damit nochmal weiter beschäftigen wollen.

[2018-01-17 22:45] penguineer commented on #10
Soweit ich das verstehe, ist es für das CI-System relativ egal, ob wir Container mit Docker oder LXC/D verwenden. Ich schlage vor, diesen Teil der Diskussion auf später zu verschieben, wenn wir mehr über das eigentlich zu verwendende System wissen. Dann haben wir noch ein wenig mehr Input.

Mag jemand (auch für das nächste Treffen) mal den Zwischenstand kurz zusammenfassen?
Gern auch im Pad: https

[2018-01-17 22:47] penguineer commented on #16
Termine sind angelegt:
* http://www.netz39.de/events/event/freifunk-abstimmungstreffen/
* http://www.netz39.de/events/event/freifunk-bastelabend/

[2018-01-17 22:47] #16 closed, assigned to penguineer

[2018-01-25 21:32] penguineer commented on #1
Die Namespaces sind nun korrigiert.

[2018-01-26 18:16] andreasscherbaum commented on #10
http://jenkins.freifunk-oberhavel.de/

Da fällt ein blankes Jenkins raus, fertig in einem LXC Container. Admin Passwort kommt aus Ansible.

[2018-01-26 18:48] johannwagner commented on #10
Wir machen das hier zu, Topic is abgeschlossen. Ob es bei Jenkins bleibt, ist abzuwarten.

[2018-01-26 18:48] #10 closed

[2018-01-26 18:49] penguineer opened #17 "Jenkins-Konfiguration automatisieren"

[2018-01-26 18:50] penguineer opened #18 "Jenkins im Wiki dokumentieren"

[2018-01-26 18:54] penguineer commented on #15
Ticket lässt sich so nicht lösen, hier müssen wir noch eine Strategie beraten

[2018-01-26 19:07] penguineer opened #19 "Recherche: Was bedeutet es, Provider zu werden?"
Kosten / Pflichten / Haftung?

https://www.bundesnetzagentur.de/SharedDocs/Downloads/DE/Sachgebiete/Telekommunikation/Unternehmen_Institutionen/Anbieterpflichten/Meldepflicht/Meldeformular_pdf.pdf?__blob=publicationFile&v=8

[2018-01-26 19:15] penguineer opened #20 "Unbrick-Anleitung für WDR841-Knoten"

[2018-01-26 19:30] penguineer opened #21 "Projekt: Freifunk für Lebenshilfe Magdeburg"
Siehe Protokoll von [FreifunkReboot5](https://pad.n39.eu/p/FreifunkReboot5)

[2018-01-26 20:17] penguineer commented on #13
http://www.netz39.de/ffmd/images_2016.2.7/factory/

[2018-01-26 23:40] johannwagner opened #22 "Gateway: Neues Gateway für die Änderungen in Gluon v2017.2.x"
In Gluon v2017.2.x werden neue Gateways benötigt.
Dazu müsste in der nächsten Zeit ein Gateway mit einer neuen Konfiguration erstellt werden, bestenfalls gleich in einen Docker-Container geworfen werden, dass dies beliebig replizierbar ist.

Ich assigne hier jetzt nur Christian drauf, allerdings darf jeder dazu gerne beitragen.

[2018-01-27 01:59] andreasscherbaum commented on #22
Gateway Dokumentation wäre praktisch. Dann könnte man das automatisieren.

[2018-01-27 11:29] penguineer commented on #22
Das hängt also quasi von #8 ab.

[2018-01-27 11:31] penguineer commented on #18
Könnte zum Beispiel dort passieren:
http://www.netz39.de/wiki/freifunk:anleitungen:jenkins

[2018-01-27 11:31] johannwagner commented on #22
Es gibt auch Dokumentationen aus Hamburg und anderen Städten, welche, meines Wissens nach, ähnlich sind. Vielleicht migriert man da einfach.

[2018-01-28 12:47] penguineer opened #23 "Dokumentation: Firmware-Rollout"
Nachdem wir nun eine Firmware-Version haben, mit der zwei Router bereits im Netzwerk laufen (siehe #9), müssten wir als nächstes das Rollout angehen.

Ich möchte die, die damit Erfahrung haben, bitten, den Prozess zu dokumentieren (von mir aus auch erstmal kurz, das kann dann mit entsprechenden Fragen detailliert werden).

Ein möglicher Ort ist dort: http://www.netz39.de/wiki/freifunk:anleitungen:

[2018-01-28 19:15] LeSpocky commented on #23
Habe angefangen: http://www.netz39.de/wiki/freifunk:anleitungen:rollout

[2018-01-29 00:04] andreasscherbaum commented on #17
Ok, gute Nachrichten: dadurch dass ich Jenkins in einem Linux Container mit Ansible installiere (und nicht nur stumpf einen fertigen Container herunterlade und hochfahre), kann ich Jenkins beliebig konfigurieren.

Mittlerweile installiere ich sämtliche Plugins automatisch, und ich kann ebenfalls beliebige Jobs hinzufügen, ändern oder löschen.

[code]

Und viele mehr.

Wenn wir wissen welche Jobs w

[2018-01-29 00:18] andreasscherbaum commented on #9
Und wie kriegen wir das ganze jetzt in Jenkins, damit bei jedem Commit ein "experimental" Image gebaut werden kann? Und daraus dann "stable" und "release"?

[2018-01-29 06:14] LeSpocky commented on #9
Könnte der zuerst genannte Fehler mit https://github.com/FreifunkMD/site-ffmd/issues/95 zu tun haben?

Und was bedeutet dies hier?
[code]

[2018-01-29 06:29] johannwagner commented on #9
Ich hole ein Docker-Image von Docker-Hub, welches gcc heißt, in der Version 7.2. Das Image ist im Grunde nen Debian, glaub ich, mit nem installierten GCC.

Es gibt in einem Teil einen Bug, wo auf die GCC Version geprüft wird, welche, wenn man ein Ubuntu/Debian ist und gcc installiert, auftritt. Das passiert so nicht.

[2018-01-29 07:26] LeSpocky commented on #15
Bei einigen Geräten ist die Hardware Version aufgedruckt. Ist das nicht bei allen der Fall?

[2018-01-29 07:40] johannwagner commented on #15
Nein, beim TP-Link WL1043 beispielsweise nicht.

[2018-01-29 12:37] penguineer commented on #15
Genau, pauschal lässt sich das nicht umsetzen. Wir können jetzt überlegen, das für einige Geräte nachzuholen, wenn sich die Version explizit auslesen lässt.

Auf dem letzten Treffen haben wir dem eine niedrige Priorität gegeben.

[2018-01-29 12:40] penguineer commented on #9
@LeSpocky https://docs.docker.com/engine/reference/builder/#usage

[2018-01-29 12:41] penguineer commented on #17
Ich finde es gut, dass der Build in einem Docker-Container durchgeführt wird. Dadurch haben wir gleiche Bedingungen bei allen Entwicklern. Dementsprechend plädiere ich dafür, dass auch der Jenkins den Container durchbauen lässt und das Ergebnis verteilt.

Den letzten Punkt (das Ergebnis verteilen) müssen wir dann noch abstimmen.

[2018-01-29 12:44] penguineer opened #24 "Update/Verteilung Firmware-Schlüssel."
@LeSpocky hat im Rahmen von #23 die Schlüsselerzeugung dokumentiert. Ich habe auf der technischen Seite noch Fragen (die ich dort posten werde), wir können uns aber schon über die organisatorischen Fragen unterhalten:

1. Wer soll signieren dürfen?
2. Nehmen wir Leute aus der Liste heraus (weil sie nicht mehr aktiv mitarbeiten)?
3. Wie wollen wir konkret vorgehen?

[2018-01-29 12:45] penguineer commented on #23
Kannst Du bitte noch dokumentieren, wie die Schlüssel erzeugt werden? Am besten mit einem Beispiel-Shell-Aufruf, damit wir sicher sind, dass alle das gleiche/richtige tun? Danke :)

[2018-01-29 12:52] andreasscherbaum commented on #17
Nun, Jenkins kann den Build quasi überall anstoßen, auch in einem Docker Container:

https://wiki.jenkins.io/display/JENKINS/Docker+Plugin

Beim Jenkins geht es weniger darum wie etwas gebaut wird (das sollte im Repository gekapselt sein), sondern darum dass Builds immer wieder angestoßen und auch durch externe Ereignisse (GitHub Commit, PR, ...) getriggert werden können.

[2018-01-29 14:01] LeSpocky commented on #23
Werde ich tun. Es gab da Änderungen an ecdsautils, die es ggf. nötig machen alte und neue Variante zu dokumentieren. :tired_face:

[2018-01-29 14:39] penguineer commented on #17
Ich schlage vor, dass wir Jenkins erstmal für die Experimental-Builds konfigurieren. beta/stable sind IMHO nicht direkt über das Repository abgebildet und werden per CLI-Parameter im Build-Script erzeugt. Wir müssten uns nochmal überlegen, nach welchem Prinzip wir das machen wollen.

[2018-01-29 14:44] andreasscherbaum commented on #17
Experimental soll idealerweise so laufen, dass vom Commit bis zum Ausrollen auf Router alles automatisch läuft. Andere Pipelines müssen dann manuell angestoßen werden, sollen aber danach auch auch automatisch sein. Also sprich, es sagt nur jemand dass dieser und jener Stand im Repo jetzt stable wird.

Und ja, fangen wir mit experimental an.

[2018-01-29 16:00] penguineer commented on #17
Commit im Sinne von "Commit auf Master", also Annahme des PR? Dann wäre ich dabei.

Zwischendurch gibt es ja immer auch Varianten, die nicht funktionieren. Dann würden wir im worst case alle experimental-Router bricken.

Es gibt bei der Vollautomatisierung das Hindernis, dass die Firmware signiert werden muss. Was haltet ihr davon, wenn Jenkins die Images an einem definierten (per HTTPS erreichbar

[2018-01-29 16:05] LeSpocky commented on #15
Erstmal von allen Geräten mit Aufkleber abtippen, niedrig hängende Früchte. 😉

[2018-01-29 16:43] penguineer commented on #15
Feel free. ;)

Ist keine Arbeit, mit der man Leute zu Freifunk lockt. V.A. weil wir auch keinen wirklichen Plan haben, was wir damit machen.

[2018-01-29 16:56] LeSpocky commented on #17
Bei Commit bzw. Merge nach master automatisch experimental Images zu bauen und auszurollen wäre für mich okay. Muss halt die absolute Maßgabe sein dann, dass _niemand_ auf ffmd/master entwickelt! Man kann ja alles auf seinem Dev-Branch mit seinen lokal vorhandenen Geräten vorher testen.

Was die Signaturen angeht: da lässt sich ggf. die Anzahl der nötigen Signaturen für experimental auch auf 0 set

[2018-01-29 21:21] penguineer commented on #17
Ich fände es interessant, wenn nur ausgewählte Router in Image ohne Signaturen (oder besser: nur mit der Jenkins-Signatur) akzeptieren. Die bekommen automatisches Rollout, alle anderen erfordern, dass jemand manuell zustimmt.

[2018-01-29 21:46] andreasscherbaum commented on #17
Ja, das war die ursprüngliche "experimental" Idee die wir im ersten Treffen diskutiert hatten: jemand merged etwas in "master" (keine Entwicklung in "master", und bei Merges kann man auch ein Approval verlangen), das wird dann gebaut und auf den Server für Firmware Images geschoben. Die Router die "experimental" haben, ziehen sich das automatisch und installieren das.

Alles weitere (stable, relea

[2018-01-29 22:04] penguineer commented on #17
Okay.

Wir sollten nur sehr deutlich kommunizieren, dass die experimental-Firmware in Zukunft quasi aus einem Script kommt und die Kontaktdaten aller Experimental-Router haben.

Ein nachgelagertes Projekt könnte die explizite Überwachung der Experimental-Router sein; als Eingangsdaten für die Bewertung, ob eine  Firmware in den Beta-Status kommt. (Das gleiche kann man dann natürlich auch mit Beta-

[2018-01-30 08:30] LeSpocky commented on #17
Das Auswahlkriterium dafür ist: installiere experimental. Alles andere wird zu kompliziert.

[2018-01-30 09:16] penguineer commented on #17
Ja, ich hab dem doch auch schon zugestimmt. :)

Gilt IMHO weiterhin!

[2018-01-31 12:30] eriu commented on #23
wie man einen key erzeugt ist relativ einfach siehe https://github.com/tcatm/ecdsautils

Utilities
---------

### generate-key

The secret is written to stdout.

    % ecdsautil generate-key > secret
    % cat secret
    68b12c0eaf88bf17fbcdf560780136b9cc4be352fb8aa7148215fbd65887db7b

### show-key

The secret should be supplied on stdin. The public key will be written to
stdout.

    % ecdsautil

[2018-01-31 12:33] eriu commented on #20
ggf hilft die das hier: https://forum.freifunk.net/t/router-recovery-tftp-pushbutton-und-ttl-serial-recovery/8691

[2018-01-31 12:54] penguineer commented on #23
Danke für die Info. Dann muss das nur noch ins Wiki übertragen werden.

[2018-01-31 14:14] LeSpocky commented on #23
Ich habe das mal "nur noch" ins Wiki übertragen. Es gibt Unterschiede im Aufruf zwischen den installierbaren ecdsautils 0.3.2 und der noch nicht releasten Version 0.4.x. Habe auch noch Hinweise zu minimal sicheren Schlüsselablage ergänzt.

[2018-03-23 12:10] penguineer commented on #9
Der PR ist https://github.com/FreifunkMD/site-ffmd/pull/93 und es gibt ein Approval.
Testbetrieb ist jetzt auch schon eine ganze Weile.

Können wir das dann nicht einfach mal mergen?

[2018-03-23 13:19] penguineer commented on #9
@LeSpocky : Ich habe den Merge durchgeführt, bitte noch ein Tag anlegen.

[2018-03-23 13:59] LeSpocky commented on #9
Tag für `v0.38~beta.1` ist angelegt. ✔

[2018-03-23 19:17] lxusrbin commented on #24
* Bei mehr Schlüsseln sollte zumindest darüber nachgedacht werden, ob die Anzahl an benötigten Menschen zum Signen einer Firmware erhöht werden kann.
* Bei zwei neuen Kandidaten und zwei Inaktiven muss da erstmal nichts gemacht werden
* Mögliche Kandidaten:
  * Johann
  * Tux würde gern einen der Schlüssel haben
* Mit der 0.38 müssen neue Schlüssel ausgerollt werden, sodass die 0.39 dann mit den n

[2018-03-23 23:39] johannwagner commented on #9
Wie geht es von hier aus weiter ? Ich habe jetzt Images für alle Archtekturen durchgebaut und die liegen hier jetzt rum.

[2018-03-24 06:51] andreasscherbaum commented on #9
Nächste Fragen in dem Zusammenhang:

1. Auf welchem Host können die Images mittels Docker gebaut werden?
2. Wo und wie werden die Images danach auf den Webserver geschoben?
3. Soll das Hochladen der Images Teil des Docker Images sein (ggf. Credentials notwendig), oder passiert das durch den Prozess der den Build anstößt?
4. Wie kann das in Jenkins integriert werden?
5. @johannwagner Hattest du dic

[2018-03-24 08:01] johannwagner commented on #9
@andreasscherbaum

1. Im Grunde ist es jetzt betriebssystemunabhängig auf allen Hosts, die Docker unterstützen, baubar.
2. Desweiteren ist noch nichts automagisiert, was bedeutet, dass dies noch per Hand gemacht werden muss. Allerdings ist in #23 schon dokumentiert, was zu tun ist.
3. Aus einer CI, also in dem Fall Jenkins, fallen am Ende des Builds Artefakte raus und eigentlich möchte man diese A

[2018-03-24 16:58] andreasscherbaum commented on #9
@johannwagner Siehe E-Mail Postfach.

[2018-03-24 18:16] penguineer commented on #9
Vor einem Rollout der Stable müssen noch die neuen Schlüssel hinterlegt werden, oder?

[2018-03-26 06:10] LeSpocky commented on #24
Mögliche Kandidaten erstellen sich am besten selbst Schlüssel und machen einen PR auf das site-Repo. Die anderen sollten das dann reviewen vor dem merge. +1 für das Hinzufügen von @penguineer und @johannwagner.

[2018-03-26 06:14] LeSpocky commented on #9
Ja. Wie @lxusrbin schon in #24 schrieb: Wäre gut schon im nächsten Release v0.38 die neuen Schlüssel für das übernächste Release v0.39 drin zu haben!

[2018-03-27 10:16] penguineer commented on #24
Ich kümmere mich heute Abend um die Erstellung von Keys und fertige dann einen PR an.

[2018-04-06 18:04] johannwagner commented on #24
Done.

Wenn mein PR angenommen ist, dann kann dieses Issue geschlossen werden.
Man beachte, dass nocheinmal neue Firmware gebaut werden muss, um die neuen Schlüssel mit in das Kompilat zu heben.

[2018-04-06 18:36] polybos commented on #1
Habe mit den [Projekten](http://www.netz39.de/wiki/freifunk:freifunk:projekte) weitergemacht:
* Freifunk für Flüchtlinge
    * [Projekt Altstadt / kleine Schulstraße](http://www.netz39.de/wiki/freifunk:projekte:fluechtlinge:altstadt)
    * [Projekt Altstadt / kleine Schulstraße](http://www.netz39.de/wiki/freifunk:projekte:fluechtlinge:agnetenstrasse)
    * [Projekt Balkan](http://www.netz39.de/wik

[2018-04-06 19:13] #1 closed

[2018-04-06 19:23] penguineer opened #25 "Gollum-Wiki abschalten"
Als follow-up zu #1 sollte das Gollum-Wiki nun abgeschaltet und die Referenzen auf den Freifunk-Bereich im Netz39-Wiki gesetzt werden.

[2018-04-06 19:37] johannwagner commented on #25
Is schon passiert.
@lxusrbin

[2018-04-06 19:37] #25 closed, assigned to penguineer

[2018-04-06 19:41] penguineer commented on #25
Ah, cool! :D

[2018-04-09 07:32] LeSpocky commented on #24
Schlüssel von @penguineer und @johannwagner sind jetzt im site Repo gemerged mit FreifunkMD/site-ffmd#99 und FreifunkMD/site-ffmd#101. Für zusätzliche Schlüssel von Freiwilligen bitte drüben neue PR aufmachen.

[2018-04-12 07:39] penguineer opened #26 "Rollout Firmware v0.38"
Dazu gehören die Tickets aus https://github.com/FreifunkMD/site-ffmd/milestone/11

(Ich lege das hier an, damit das Rollout in der Übersicht der Orga-Issues auftaucht. Wahrscheinlich gibt es noch mehr Aktivitäten als nur das Abarbeiten der Tickets aus site-ffmd. So taucht das immer wieder im Review auf.)

[2018-04-12 12:19] penguineer commented on #26
Zunächst müssen wir wohl #9 abschließen.

[2018-04-20 17:44] penguineer commented on #15
Es wurden alle Informationen aufgeschrieben, die sich ohne Aufschrauben des Geräts auffinden ließen.

Beschluss Treffen am 2018-04-20: Wir schließen dieses Ticket.

[2018-04-20 17:44] #15 closed, assigned to nobody

[2018-04-20 17:48] penguineer commented on #14
@christf schickt ein passendes Script an @penguineer

[2018-04-20 19:53] LeSpocky commented on #15
Ohne Aufschreiben? Vertippt? Was ist gemeint? Ohne Aufschrauben?

[2018-04-21 10:10] penguineer commented on #15
Tippfehler, ist korrigiert.

[2018-04-21 15:49] christf opened #27 "Vorschlag: Nutzung von Frankfurter Firmware Release-builder"
Ich schlage vor, dass der Frnakfurter Firmwarebuilder auch für die Magdeburger Firmware eingesetzt wird:
https://github.com/freifunk-ffm/Firmware-Release-Builder

Das script übernimmt den Bau der Firmware, Verwaltung vom Download-Cache und es wird aktiv gepflegt.
Lasst uns das doch zusammen pflegen!

[2018-04-22 10:24] christf commented on #14
Der Versand ist erfolgt.

[2018-04-23 00:08] andreasscherbaum commented on #27
Welche Änderungen sind dafür notwendig?

Speziell: lässt sich das mit dem integrieren was @johannwagner bisher gebaut hat?

[2018-04-23 08:24] penguineer commented on #27
AFAIK hat @johannwagner den Docker-Container gebaut. Das Build-Script kommt u.A. von @LeSpocky .
Ich halte es aber auch für sinnvoll, keine doppelte Arbeit zu machen, sondern beide Build-Scripte so zu verheiraten, dass ein noch besseres Script herauskommt, das man dann gemeinsam pflegen kann.

[2018-04-23 08:25] johannwagner commented on #27
So ist es.
Generell gehört das Build-Script, welches momentan mit der site-ffmd geshippt wird, etwas überarbeitet, gerade, was Benutzerführung angeht.

[2018-04-23 11:27] penguineer commented on #24
Auf der Beratung am [2018-04-20](https://pad.n39.eu/p/FreifunkReboot8) haben wir besprochen, die Signing Keys noch einmal anzuschauen.

Insbesondere wollte @polybos:
- [x] seinen eigenen Schlüssel einfügen
- [x] mit Michel sprechen, ob der seinen Schlüssel behalten möchte
- [x] mit Andreas sprechen, ob der seinen Schlüssel behalten möchte
- [x] mit bastinat0r sprechen, ob der seinen Schlüssel beha

[2018-04-23 20:40] penguineer commented on #23
Wenn die PR für die README.md files durch sind, werde ich die noch im Wiki verlinken.

[2018-04-26 09:23] penguineer commented on #9
Ich mache noch einen Build des aktuellen Master und würde bei Erfolg den Tag für die beta-2 vergeben und dieses Ticket schließen.

@polybos wartet noch auf Feedback bzgl. #24 - hier könnten wir überlegen, wie lange wir warten wollen.

[2018-04-26 14:41] penguineer commented on #13
Spricht etwas dagegen, diese Images auf higgs (Netz39-Server) zu legen?

[2018-04-26 18:25] LeSpocky commented on #13
On Thu, Apr 26, 2018 at 02:41:03PM +0000, Stefan Haun wrote:

Grundsätzlich nichts, je nachdem wieviel Platz auf higgs zur Verfügung
steht?!

Allerdings müssen wenigstens die Firmware-Images für experimental,
beta und stable aus dem Freifunk-Netz intern erreichbar sein.

[2018-04-26 18:50] penguineer commented on #13
steht?!

200GB sind da gerade frei.

beta und stable aus dem Freifunk-Netz intern erreichbar sein.

Das ist wohl eher ein Punkt. Im Zweifel gibt es eine  Maschine mit einer guten Anbindung und dazu gemietetem Storage? Das ist preislich auch nicht unmöglich.

Ein Storage-Server mit 1.5TB SAS, 1 GB RAM und 1 Core kostet bei Netcup 16€/Monat

[2018-04-26 19:51] LeSpocky commented on #13
Ggf. kann man auch zum bereits bestehenden web1.md.freifunk.net (bei netcup) einfach Storage dazu buchen? Siehe https://www.netcup.de/vserver/storagespace.php

[2018-04-27 06:45] penguineer commented on #9
Build lief durch. :)

[2018-04-27 13:06] penguineer opened #28 ""Expert Mode" → "Advanced Settings""
see https://gluon.readthedocs.io/en/v2016.2/releases/v2016.2.html:

Check configuration and documentation and apply the new name.

[2018-04-27 20:05] polybos commented on #24
Michel möchte Schlüssel behalten, Andreas und Bastinat0r nicht.

[2018-04-27 20:08] #24 closed, assigned to polybos

[2018-04-28 09:39] penguineer commented on #9
Tag [`v0.38-beta.2`](https://github.com/FreifunkMD/site-ffmd/tree/v0.38-beta.2) ist da!

[2018-04-28 09:40] penguineer commented on #26
Test mit lokalen Geräten steht nun an!

[2018-04-28 10:00] LeSpocky commented on #26
Dazu ggf. einen Blogpost machen?

[2018-04-28 10:04] penguineer commented on #26
Ich schlage vor, dass wir erstmal lokal testen und dann auf einem Blogpost den Beta-Rollout ankündigen.

[2018-05-01 13:53] penguineer commented on #9
Hier sind Images zum Testen: http://www.netz39.de/ffmd/v0.38-beta.2/

Welche Geräte sollten wir unbedingt testen?

[2018-05-01 14:09] penguineer commented on #9
- [ ] TP-Link WR841 N/ND

[2018-05-01 17:22] andreasscherbaum commented on #27
@johannwagner Welche Änderungen sind dafür deiner Meinung nach notwendig? Und könnten die ggf. gleich Upstream als PR einfließen?

[2018-05-01 20:13] penguineer commented on #27
Ist vielleicht etwas für einen Hacking-Abend?

Ich habe auch Ideen für Erweiterungen, tatsächlich hatte ich mit dem Script soweit aber auch keine Probleme, was die Nutzung angeht. Intern könnte man es etwas mehr kommentieren. 8)

[2018-05-01 20:14] penguineer commented on #27
Für den Docker-Container wäre es schön, wenn man besser steuern könnte, was gebaut wird. Derzeit ist da ein Tag fest verlinkt, aber eigentlich müsste das für die site-ffmd von außen und für Gluon aus der site-conf kommen.

[2018-05-01 22:32] LeSpocky commented on #9
Wollen wir die mit nach gw1 kopieren, damit sie mit unter
http://firmware.md.freifunk.net/beta/ auftauchen? Siehe auch http://www.netz39.de/wiki/freifunk:anleitungen:rollout#firmware_hochladen

- [ ] 1043
- [ ] Nanostation

[2018-05-02 02:59] andreasscherbaum commented on #27
Braucht es den Docker Container noch, wenn das Frankfurter System zum Einsatz kommt?
Ansonsten würde es den Aufwand sparen, die gewünschten Änderungen in den Container einzubinden.

[2018-05-02 06:23] johannwagner commented on #27
@andreasscherbaum Generell ist ein Fork von der Frankfurter Variante wünschenswert. Da müsste erörtert werden, wie viel man da ändern muss und ob das über eine Konfiguration funktioniert oder ob hart geforkt werden muss. Ich kann zu dem Aufwand nichts sagen, da ich generell nicht flüssig in Bash bin. Ich denke aber, dass eine Grundversion mit dem Ändern von ein paar URLs durchaus möglich ist, inso

[2018-05-02 08:57] penguineer commented on #27
Ich bin übrigens weiterhin dafür, den Docker-Container zu haben, weil er eine einheitliche Build-Umgebung bereitstellt und dokumentiert.

[2018-05-03 00:55] andreasscherbaum commented on #27
Das würde den Docker Container dann quasi als Entwicklungsumgebung bereitstellen, sehe ich das richtig?

Damit ist es um so wichtiger dass man steuern kann welche Branches oder Builds der Container baut, und wohin die Dateien danach geschoben werden (auf den Host des Entwicklers).

[2018-05-03 09:31] penguineer commented on #27
Gut, dann brauchen wir einen Mechanismus zur Auswahl der Branches. Ich habe dafür https://github.com/FreifunkMD/gluon-docker/issues/6 angelegt.

Die Auswahl der Zielverzeichnisse ist über Mounts beim Aufruf des Containers möglich, siehe dazu die entsprechende [Readme](https://github.com/FreifunkMD/gluon-docker/blob/master/README.md)).

[2018-05-05 01:00] christf commented on #27
Heute Abend haben wir mit Docker etwas herumgespielt und ich hab einen
sehr viel einfacheren Buildjob in meinem jenkins in Docker abgebildet.

Branches kann man von außen in den Frankfurter Firmwarebuilder
reinrufen, es werden allerdings ein paar Annahmen getroffen von denen
wir mal schauen müssen ob die in MD passen.  Das kriegen wir angepasst.

Den Dockercontainer kann man so bauen, dass man
ENT

[2018-05-06 06:13] eriu commented on #9
Ich hab heute morgen die Beta Firmware auf meinen Knoten [wr1043n-54c](https://map.md.freifunk.net/#!v:m;n:14cc20cd54cc) installiert - bislang sieht alles ok aus :-). Ich werde das mal noch etwas testen und dann mich melden.

[2018-05-06 13:26] eriu commented on #19
ich kann gerne mal Reto von http://www.offenenetze.de/ fragen, wie sich das jetzt nach der Änderung des TMG von 2017 verhällt.

[2018-05-06 13:31] eriu commented on #19
http://www.offenenetze.de/2017/03/08/wlan-haftung-refe-zur-3-aenderung-des-tmg-in-der-kurzanalyse/

[2018-06-05 07:13] robisys commented on #9
Habe auf   TP-LINK tl-wr1043nd-v4  die version 0.38 beta2   installiert ,  auf 2 Geräten    was ist für den Test dann erforderlich,  gibt es da eine "Testanleitung" ?

[2018-06-05 09:57] eriu commented on #9
moin robi,

- test vom Einspielen der Firmware manuell über Weboberfläche oder per console (console geht vermutlich nicht, da die firmware noch nicht unter https://firmware.md.freifunk.net/experimental/ bzw. https://firmware.md.freifunk.net/beta/ liegt
- testen vom meshing (also mit 2 Geräten),
- wie die performance ist z.B. mit iperf

[2018-07-16 12:46] penguineer commented on #26
Ich habe das Tag v0.38 gesetzt.

- [x] Build der stable firmware
- [x] 2x manifest signieren
- [x]  upload und rollout
- [x] aktuellen experimental für die entsprechenden Knoten zur Verfügung stellen

[2018-07-16 15:34] penguineer commented on #9
Beta-Rollout sieht gut aus. :)
Ebenfalls Test mit meshing und direktem Uplink.

Ich schließe dieses Ticket.

[2018-07-16 15:34] #9 closed

[2018-07-23 19:53] penguineer commented on #26
Blogbeitrag: https://md.freifunk.net/2018/07/firmware-0-38-freigegeben/

[2018-07-24 10:22] LeSpocky commented on #26
Reopen wegen dem hier? https://github.com/FreifunkMD/site-ffmd/issues/114

[2018-07-24 10:41] eriu commented on #26
- [x] Blogpost Firmware (danke @penguineer) https://md.freifunk.net/2018/07/firmware-0-38-freigegeben/

- [x] Update Website (Firmware) FreifunkMD/site-ffmd#114

[2018-07-24 17:25] #26 closed, assigned to penguineer

[2018-07-25 09:55] penguineer opened #29 "Rollout-Automatisierung: Firmware-Übersicht"
Wir haben eine Seite, die die unterstützten Modelle und ihre Firmware-Files verlinkt: https://md.freifunk.net/mitmachen/firmware/

Bislang wurde diese Seite immer von Hand gepflegt:
* Anpassen der Versionsnummern geht per Search/Replace
* Übernahme des Changelogs (wobei wir hier ein leicht anderes Format haben)
* Anpassung der Liste unterstützter Firmwares

Gerade der letzte Punkt ist sehr aufwänd

[2018-07-25 12:02] LeSpocky commented on #29
Zu beachten sind hier verschiedene Punkte:

* Es kommt nicht nur Hardware-Unterstützung für Geräte hinzu, sondern diese fällt z.T. auch wieder weg.
* Einige Geräte haben nur sysupgrade images, andere nur factory images, wieder andere beides.
* Einige Geräte gibt es in verschiedenen Hardware-Revisionen, die unterschiedliche Images erfordern, andere Geräte nur in einer Version.

[2018-07-25 12:08] johannwagner commented on #29
Wo setzt man hier an?

Macht man das basierend auf den Filenames, welche auf firmware.md.freifunk.net liegen?

[2018-07-25 12:47] LeSpocky commented on #29
Darauf und man berücksichtigt ggf. die Infos aus den Release Notes.

[2018-07-25 13:48] penguineer commented on #29
Wenn man es richtig machen will, muss die Information eigentlich aus dem Build herausfallen. Ich denke nicht, dass das an einem Nachmittag gemacht ist (oder zweien).

Erster Ansatz könnte sein, die Informationen semi-strukturiert in der site abzulegen. Für Changelogs gibt es schon Pseudostandards (siehe z.B. Debian Changelogs). Daraus kann man dann für die verschiedenen Kanäle die notwendigen Dars

[2018-07-25 13:56] penguineer commented on #29
Könnte aber durchaus ein Thema für Freitag sein.

[2018-07-25 19:46] penguineer commented on #29
Michel hatte noch dieses Projekt vorgeschlagen: https://github.com/freifunk-darmstadt/gluon-firmware-selector

[2018-07-27 18:05] johannwagner commented on #29
[code]

Wenn man den Changelog aus der `README.md`  in ein `CHANGELOG.md`, dann fällt da sogar annehmbares HTML raus.
`pandoc -o CHANGELOG.html CHANGELOG.md` tut hier wahre Wunder.

Wie soll die Integration auf der Webseite an der Stelle dort funktionieren?

[2018-07-27 18:09] penguineer commented on #29
Wir könnten ein Script haben, das sich die notwendigen Informationen zusammensucht und den Webseiten-Content generiert. Über die RPC-Schnittstelle vom Wordpress kann man das dann auch automatisch ausführen, wenn wir ein Rollout machen.

[2018-08-10 17:55] penguineer opened #30 "Gateway-Service für Information bei ausgefallenen Knoten"
Backend-Service zu
* https://github.com/penguineer/ffmd-packages/tree/gluon-config-mode-notify-2016.2

[2018-08-10 18:27] penguineer opened #31 "Besitzer der v0.37-Knoten kontaktieren"

[2018-08-10 18:38] penguineer opened #32 "Xiaomi Mi Router kaufen"

[2018-08-10 18:39] penguineer opened #33 "Aktuellen FFMD-Kontostand beim Netz39 erfragen"

[2018-08-10 18:44] penguineer opened #59 "Anpassung Kaufempfehlung auf ffmd-webseite"
nachdem https://github.com/FreifunkMD/site-ffmd/issues/117 erledigt ist → ist erledigt

* für Xiaomi-Router erstmal nur Vorankündigung, da es noch kein Image gibt
* Ankündigung, dass 841 langfristig nicht mehr unterstützt werden kann ("so lange wie möglich")

[2018-08-10 21:41] johannwagner commented on #30
Ich hab da mal was gehackt.

https://github.com/FreifunkMD/ffmd-lost-node-notifier

Das wird die nächsten Tage weiter vervollständigt.

[2018-08-11 22:11] christf commented on #19
gestern war Sven beim Treffen. Er wäre bestimmt auch ein guter Ansprechpartner bei der Frage.

[2018-08-11 22:14] christf commented on #20
was stimmt mit der unbrick anleitung aus dem openwrt wiki nicht?
https://wiki.openwrt.org/toh/tp-link/tl-wr841nd im Kapitel "tftp install/recovery via serial"

[2018-08-12 10:59] christf opened #34 "Vorschlag: Nutzung des Pakets nodeinfo aus Frankfurt"
Das Paket stellt ein Kommando bereit, welches auf der Konsole einen knappen Überblick über die Konfiguration des Nodes gibt. Beispiel:
 root@draco:~# nodeinfo
### Radio-Networks active:
client0   ESSID: "Freifunk mit babel"
          Access Point: EE:51:ED:85:9F:68
          Mode: Master  Channel: 5 (2.432 GHz)
          Tx-Power: 16 dBm  Link Quality: 32/70
          Signal: -78 dBm  Noise: -95 d

[2018-08-12 21:45] penguineer commented on #20
Hm... der Form nach sieht das nach einem TODO aus, das mal von $irgendwo übernommen wurde. Ich schließe das Ticket.

[2018-08-12 21:45] #20 closed, assigned to nobody

[2018-08-12 21:47] penguineer commented on #33
Anfrage ist raus, ich warte auf Antwort.

[2018-08-13 11:42] #31 closed, assigned to penguineer

[2018-08-15 13:24] penguineer commented on #34
Gibt es Vorteile gegenüber der HTML-Übersichtsseite, die der Router über HTTP ausliefert?
(Außer dass es auf der Konsole statt findet, die die meisten Nutzer nicht verwenden?)

[2018-08-15 13:28] penguineer commented on #32
Den Xiaomi Mi 3C scheint es kaum noch zu geben.

[2018-08-15 13:57] johannwagner commented on #32
Hohe Verfügbarkeit muss meines Erachtens gewährleistet sein.

[2018-08-24 19:16] penguineer opened #35 "Knoten-Registrierung abschaffen"
Registrierung der Knoten über register.md.freifunk.net soll nicht mehr notwendig sein:

* [x] Anpassung Gateways so, dass jeder Schlüssel akzeptiert wird
* [x] Anpassung Firmware so, dass nach Einrichtung der Firmware kein Registrierungslink mehr angezeigt wird

[2018-08-24 22:15] penguineer opened #36 "Registrierungs-Seite entfernen"
Nach vollständigem Rollout der Firmware 0.39 können ffffng und register.md.freifunk.net entfernt werden.

[2018-08-24 22:22] johannwagner commented on #35
Changes sind gemacht und laufen zur Zeit parallel.
Im aktuellen Master der site-ffmd sind die gemergt.

[2018-08-24 22:22] #35 closed, assigned to nobody

[2018-08-25 11:58] penguineer commented on #33
Infos gibt es auf dem nächsten Treffen.

[2018-08-25 11:58] #33 closed, assigned to penguineer

[2018-08-27 21:49] LeSpocky opened #37 "gw1 nicht über IPv6 erreichbar"
In der site.conf ist für den Zugriff über IPv6 die Adresse 2a03:4000:6:30c3::32 hinterlegt. Aus einem IPv6-only Netz ist dieses Gateway damit aktuell nicht zu erreichen. gw1.md.freifunk.net löst stattdessen auf 2a03:4000:6:30c3::1 auf. Hier muss entweder das Gateway inkl. DNS angepasst werden oder die Firmware?

Wobei in der Firmware auch der Name vermerkt ist. Ich bin nicht sicher, ob auf dem Kno

[2018-08-28 14:32] penguineer commented on #37
Ich habe gerade auf dem Gerät nachgeschaut: eth0 hat die v6-Adresse 2a03:4000:6:30c3::1, d.h. die site-conf muss entsprechend geändert werden.

[2018-08-28 14:40] penguineer commented on #37
Fixed in PR https://github.com/FreifunkMD/site-ffmd/pull/125

[2018-08-28 14:40] #37 closed, assigned to nobody

[2018-09-07 17:36] penguineer commented on #34
Angenommen auf Meeting am 2019-09-07

[2018-09-07 17:41] penguineer commented on #32
Abgesagt, weil das Gerät kaum verfügbar ist.

[2018-09-07 17:41] #32 closed, assigned to penguineer

[2018-09-07 17:47] penguineer opened #38 "PR-Anleitung für site-ffmd"
Bei PR auf site-ffmd soll in Zukunft der Changelog-Eintrag Teil des PR sein.
Darauf muss auch beim Review geachtet werden.

[2018-09-07 17:49] penguineer commented on #28
Aufgabe nur für die site-ffmd.

[2018-09-07 17:51] penguineer commented on #23
Offener Punkt:
Beschreibung der Link/Verzeichnisstruktur

[2018-09-07 17:51] penguineer commented on #28
Kommt in der site nicht vor.

[2018-09-07 17:51] #28 closed, assigned to christf

[2018-09-07 17:52] penguineer commented on #22
Neues Gateway ist für batman-gluon nicht notwendig.

[2018-09-07 17:52] #22 closed, assigned to lxusrbin

[2018-09-07 17:52] penguineer commented on #21
ETIMEOUT

[2018-09-07 17:52] #21 closed, assigned to Antibiotikum

[2018-09-07 17:57] penguineer commented on #19
Erfahrung FFFFM:
* Bearbeitung der Abuse-Fälle muss sichergestellt sein
* in den letzten Jahren 3-5 Fälle

[2018-09-07 18:01] penguineer commented on #18
Für Zugangsinfos an @johannwagner wenden?

[2018-09-07 18:05] johannwagner commented on #18
Ja, potenziell per verschlüsselter Mail. Zugangsdaten hab ich da.

[2018-09-07 18:12] penguineer commented on #13
aktuelle Images belegen insgesamt 17GB

Derzeit beste Option: Root-Server RS 1000 G8 für ca. 7€/Monat

[2018-09-07 18:13] penguineer commented on #13
Next Step: Finanzierung bei Netz39 beantragen.
Umzug des alten Webservers, dann Maschine kündigen

[2018-09-07 18:17] penguineer opened #39 "Zugang gw1/gw2/web1 für @polybos"

[2018-09-07 18:17] penguineer commented on #8
Franz guckt sich die Infrastruktur-Doku an und macht einen Versuch.

[2018-09-07 18:20] penguineer opened #40 "Repository site-ffmd vom Upstream lösen"
Es gibt keinen Grund dafür, dass site-ffmd ein Fork von freifunk-luebeck/site-ffl ist.
Deshalb wird vorgeschlagen, das Repository zu lösen.

[2018-09-08 09:55] penguineer commented on #39
Done.

[2018-09-08 09:55] #39 closed, assigned to penguineer

[2018-09-08 09:56] penguineer commented on #40
Anleitung: https://stackoverflow.com/questions/16052477/delete-fork-dependency-of-a-github-repository

[2018-09-08 09:59] penguineer commented on #40
Nachricht an Support ist geschrieben.

[2018-09-08 13:41] andreasscherbaum commented on #18
Ich könnte dort dokumentieren wie ich die Jenkins bei mir mittels Ansible aufsetze. Falls das hilft.

[2018-09-08 18:22] penguineer commented on #18
Ja, das wäre sehr hilfreich!

[2018-09-09 10:03] penguineer commented on #34
Aus dem MUC, 2018-09-08:

[23:11:24] <tux> Christof: ich warte noch, dass Du das node-info-paket einreichst und dann können wir ein beta bauen
[23:12:51] <Christof> ok. ich sehe gerade dass das mit dem banner zusammengelegt wurde
[23:12:52] <Christof> https://github.com/freifunk-ffm/packages/tree/master/ffffm-banner
[23:13:41] <Christof> vor dem Hintergrund wäre es wohl sinnvoll, das zu forken und

[2018-09-10 07:53] LeSpocky commented on #34
Hab ich das richtig verstanden, dass die Statusseite, die der Knoten über HTTP ausliefert, dann weg fällt? Die finde ich eigentlich sehr praktisch.

[2018-09-10 07:58] LeSpocky commented on #40
Wurde die Beschreibung des Tickets hier falsch kopiert von irgendwo anders? Das passt nicht ganz zur Überschrift, richtig? Ich meine FreifunkMD/site-ffmd#144 hat den selben Text.

[2018-09-10 09:39] penguineer commented on #40
Ja, offensichtlich. Ich habe das korrigiert. Danke für den Hinweis.

[2018-09-10 09:39] penguineer commented on #40
Status: Ich habe eine Rückfrage, was mit den 11 Forks von unserem Fork passieren soll. Die werde ich beantworten und dann geht das wahrscheinlich recht fix.

[2018-09-10 10:55] LeSpocky commented on #40
Laut https://github.com/FreifunkMD/site-ffmd/network/members würde ich sagen: so lassen. Das sind ja im Prinzip alles die privaten Forks von Entwicklern, die was zu FreifunkMD/site beigetragen haben oder noch beitragen wollen, richtig?

[2018-09-10 11:41] penguineer commented on #40
Ja, so habe ich auch schon geantwortet.

[2018-09-10 16:32] christf commented on #34
On Mon, Sep 10, 2018 at 07:53:51AM +0000, Alexander Dahl wrote:

Die Seite fällt nicht durch diesen Change weg. Es ist jedoch eine
Option, in der Zukunft auf die Seite zu verzichten.

--
()  ascii ribbon campaign - against html e-mail
/\  against proprietary attachments

[2018-09-10 16:54] penguineer commented on #40
Done.

[2018-09-10 16:54] #40 closed, assigned to penguineer

[2018-09-21 17:52] penguineer opened #41 "Traffic über Freifunk Rheinland ableiten"

[2018-09-27 09:59] lxusrbin commented on #41
Der IPv4 Traffic von GW2 wird nun über Freifunk Rheinland e.V. abgeführt.
Wenn GW1 neu gebaut wurde würde ich dieses dann auch von VPN auf FFRL umstellen.

Wir haben von FFRL auch ein IPv6 Prefix erhalten 2a03:2260:2008::/48, somit können wir den Clients in unserem Freifunk Netz auch IPv6 zur Verfügung stellen. Würde dies gern auf dem nächsten FFMD treffen kurz durchsprechen, bevor wir dies aktivi

[2018-09-27 10:01] lxusrbin commented on #14
Der automatische neustart des VPN Tunnels ist nun nur noch auf GW1 notwendig, auf GW2 wird der Traffic nun über FFRL abgeführt.

[2018-09-27 12:43] christf commented on #14
On Thu, Sep 27, 2018 at 03:01:39AM -0700, Christian Frost wrote:

Sehr cool. Besten Dank!
--
()  ascii ribbon campaign - against html e-mail
/\  against proprietary attachments

[2018-09-30 17:39] #41 closed, assigned to lxusrbin

[2018-10-01 10:17] christf commented on #38
Was konkret ist die Aufgabe / der nächste Schritt bei diesem issue?

[2018-10-01 10:38] penguineer commented on #38
Das ist mein Issue. Ich wollte sehe, dass ich für Github eine PR-Anleitung schreibe, aus der heraus kommt, dass man bei jedem PR auch einen Commit mit dem Eintrag im Changelog hat.

Das ist relevant, damit wir keine Änderungen vergessen und das später besser automatisieren können. Dazu gibt es ja auch noch #29 als übergeordnetes Thema.

[2018-10-01 11:04] penguineer opened #42 "Review/Update freifunk-hilft.de"
Wir haben einen Eintrag auf freifunk-hilft.de, den wir aktualisieren sollten.

Mindestens die Web-Adresse, ggf. richten wir dafür auch eine explizite Info-Seite ein?

[2018-10-01 13:34] christf opened #43 "Aufbau von Wireguard-VPN für babel-Firmware"
Wenn wir babel firmware bauen, dann sollte die serverseitige Einrichtung mit Ansible erfolgen.
Dafür sind zwei Entscheidungen zu treffen:
1. Nutzung der bestehenden Gateways?
   Das babel-Netz kann auf den selben Servern betrieben werden wie das batman-Netz. Ich schlage vor, wir erweitern die Konfiguration der bestehenden Server. Zunächst auf gw02 (Der wird eh demnächst abgebaut, dann kann man das

[2018-10-02 12:14] LeSpocky commented on #38
Bezieht sich vmtl. auf https://github.com/FreifunkMD/site-ffmd/community bzw. https://opensource.guide/ richtig?

[2018-10-02 12:19] penguineer commented on #38
Puh... kann man machen. Meine Motivation war, das nicht später zusammensuchen zu müssen.

[2018-10-02 12:53] Jasper-Ben commented on #42
Vermutlich bin ich blind, aber von welchem Eintrag des FF-MD redest du?

[2018-10-05 15:35] penguineer commented on #42
Wenn man unter freifunk-hilft.de auf der Karte die Info-Box für Magdeburg öffnet, steht dort noch ein alter Wiki-Link.

[2018-10-05 17:57] christf commented on #43
es hat keiner nein gesagt.

[2018-10-05 18:03] christf commented on #36
Der Server liegt auf gw1.
Es ist folgendes zu tun:

- [x] Den DNS-Eintrag register.md.freifunk.net entfernen
- [x] von gw1 die ruby-Anwendung und etwaige http vhosts auf gw1 entfernen

[2018-10-05 18:34] christf opened #44 "wer kann mir zugriff auf web1 geben?"

[2018-10-06 11:59] penguineer commented on #36
Vorher sollte die 0.39 möglichst vollständig ausgerollt sein, oder? Sonst haben wir ungültige Links.

[2018-10-06 12:07] penguineer commented on #44
Soweit ich das sehe, hast Du schon Zugriff. Analog zu gw1

[2018-10-06 13:58] #44 closed, assigned to penguineer

[2018-10-06 21:39] christf commented on #43
nachdem wir am Freitag gleich ein wenig mit ansible gebaut haben sind folgende nächste Schritte mit @polybos besprochen;

1. Erstellung eines Docker Images, welches wireguard und babeld enthält und somit als gateway fungieren kann (liegt im wg-docker repository)
2. Hochladen des Images bei Dockerhub
3. Nutzung des Images im HOST-Netzwerk Modus von Docker (geteilter Netzwerkstack mit dem host, wohl

[2018-10-06 21:41] christf commented on #19
Diskussion vom letzten Freitag: Ist es bei der derzeitigen Rechtslage überhaupt noch von Vorteil Provider zu sein?

[2018-10-06 21:42] christf commented on #44
DER GEHT!

Danke.

[2018-10-07 17:25] Jasper-Ben commented on #43
1. wireguard ist ein kernel modul, muss also auf dem host installiert werden. Ist aber machbar das weitestgehend in docker umzusetzen, denke ich. Hab mich mal auch dran gesetzt.

[2018-10-07 21:39] christf commented on #43
cool. Man kann wg im docker ausführen, wenn man wg auf dme host installiert. das nervt zwar ein wenig, kapselt den Rest des gateways jedoch.
ICh bin noch gespannt wie die Isolation der Routingtabellen so ist.

[2018-10-08 02:36] Jasper-Ben commented on #43
Ok, das wäre natürlich auch eine Option. Wie/ob die Isolation dann funktioniert wäre aber in der Tat spannend. Aktuell versuche ich wg im container zu bauen und über volumes nur das module auf dem host zu installieren.

[2018-10-14 14:14] christf commented on #43
Wir brauchen noch ein client prefix - das soll ohnehin ein ULA Prefix sein.
fda9:26e:5805:bab2::/64 wird als node-client-prefix genutzt. Die Adressen werden vom l3roamd verwendet um Kommunikation über roamende clients durchzuführen.

[2018-10-14 14:48] christf opened #45 "ntp-Server per ipv6 auflösen und in DNS erreichbar machen"
ansonsten gehen autoupdates im  ipv6-only babel-Netz nicht.

[2018-10-15 06:31] LeSpocky commented on #43
Das Prefix kann man ganz einfach nach RFC 4193 generieren, bzw. sollte man auch, wenn es in fd00::/8 liegen soll: https://tools.ietf.org/html/rfc4193#section-3.2.2

[2018-10-15 08:03] LeSpocky commented on #43
Was ich nicht (mehr) wusste, bei Freifunk werden die ULA zentral äh dokumentiert: https://wiki.freifunk.net/IP-Netze

Demnach haben wir für Freifunk Magdeburg fda9:026e:5805::/48 und können uns dann die 16 Bit Subnet-ID frei ausdenken. In der site-conf für das "normale" Netz wird `prefix6 = 'fda9:026e:5805::/64'` gesetzt, d.h. dort verwenden wir effektiv Subnet-ID 0. Gut zu wissen, sorry for the n

[2018-10-17 17:47] christf opened #46 "Traffic Ausleitung Babel-GW"
Wie leiten wir traffic am babel-Gateway ab? Haben wir noch einen ipv6-tunnel in Richtung FFRL?

[2018-10-17 17:50] christf opened #47 "Wie verbinden wir das Batman-Netz mit dem Babel Netz?"
Wie stellen wir die Kommunikation zwischen den Netzen sicher?

Vorschlag: GRE-Tunnel und darüber routen.

[2018-10-17 17:51] christf opened #48 "Docker-Einrichtung JOOL"
Für das Babel Netz brauchen wir Jool in Docker. Wer kann das bauen?

[2018-10-17 17:51] christf opened #49 "DNS64-Einrichtung in Docker"
JOOL ist schon gut, damit es nutzbar wird, müssen IPV4-Adressen in einem entsprecenden Prefix aufgelöst werden. Ich schlage vor, wir verdockern das.

[2018-10-19 19:03] christf commented on #45
@penguineer hat das gelöst. Danke dafür!

[2018-10-19 19:03] #45 closed, assigned to nobody

[2018-10-19 23:36] christf commented on #47
per gre. gw1 hat bereits ein Ende des Tunnels konfiguriert.

[2018-10-23 18:52] Jasper-Ben commented on #49
Muss das ins babel image mit rein, oder läuft das dann in einem eigenen container?

[2018-10-23 18:52] Jasper-Ben commented on #48
I'm on it.

[2018-10-24 15:54] Jasper-Ben commented on #48
[Ist soweit gebaut](https://github.com/Jasper-Ben/jool-docker), fehlen aber noch entrypoints/cmd scripts. Weiß nicht wie Jool und Babel interagieren. Gibts da irgendwo Info zum einlesen?

[2018-10-24 18:58] christf commented on #48
On Wed, Oct 24, 2018 at 03:57:45PM +0000, Jasper Ben wrote:

Die interagieren gar nicht. Es sind getrennte Komponenten, so wie DNS
ebenfalls getrennt ist. Jool brauchen wir, wenn wir das ipv4-Internet
aus dem Babel-Netz erreichbar machen wollen. Soweit ich das sehe, läuft
jool auch in docker und es gibt fertige images auf dockerhub. Dito für
dns64.

viele Grüße

Christof

--
()  ascii ribbon campa

[2018-10-24 19:14] christf commented on #49
On Tue, Oct 23, 2018 at 11:52:42AM -0700, Jasper Ben wrote:

Am Besten in einem eigenen Container, so wie jool auch.
--
()  ascii ribbon campaign - against html e-mail
/\  against proprietary attachments

[2018-11-02 19:20] christf commented on #36
wie heute besprochen, erfolgt jetzt die Entfernung des registers. Auswirkung für die 5 noch nicht aktualisierten nodes: Ein toter Link auf der Config-Page.

[2018-11-02 19:22] christf commented on #30
Status: Firmwarepaket liegt vor, die ausgerollten Nodes können das Feature. Der Service fürs Backend fehlt. @johannwagner wie stehts?

[2018-11-02 19:48] christf opened #50 "Konzeptionierung Jenkins Firmware-Build für Freifunk"
Zielstellung: Festlegen wie wir Firmware bauen und verteilen

[2018-11-02 19:49] penguineer commented on #18
Wir führen die Diskussion in #50 weiter.

[2018-11-02 19:49] #18 closed, assigned to andreasscherbaum

[2018-11-02 19:49] penguineer commented on #17
Wir führen die Diskussion in #50 weiter.

[2018-11-02 19:49] #17 closed, assigned to andreasscherbaum

[2018-11-02 20:00] penguineer commented on #13
Folgendes haben wir besprochen:
* Wir müssen nur die letzten N Versionen aufheben, bei 3 Stable, 1 Beta, 1 Experimental sind das 6GB, die auf den web1 passen
* [ ] web1 muss aus dem Mesh-Netz erreichbar sein
* [ ] Umzug Daten und Site auf web1
* [ ] Anpassung DNS firmware.md.freifunk.net auf web1

[2018-11-02 20:10] johannwagner commented on #30
Potenziell annähernd fertig. Müsste man potenziell einfach mal testen.

[2018-11-02 20:11] christf opened #51 "Wie ist die Konfiguration vom FFRL-Exit?"

[2018-11-02 20:13] penguineer commented on #30
Hast Du das auch ins Repo gepusht?

[2018-11-02 20:33] penguineer commented on #29
Ich schreibe für Gluon ein Ticket, um eine Diskussion zum Hinterlegen der Informationen zu Router-Modell und Hardware-Revision anzuregen. Ziel ist, die Informationen nicht nur im Dateinamen des Images zu kodieren, sondern auch für ein UI verwertbar abzulegen.

[2018-11-02 21:08] penguineer commented on #36
Ist erledigt, die DNS-Änderungen müssen noch überall durch kommen.

[2018-11-02 21:09] #36 closed, assigned to penguineer

[2018-11-02 21:16] penguineer commented on #42
E-Mail an die Betreiber ist verschickt, ich warte auf Antwort.

[2018-11-03 02:43] Jasper-Ben commented on #49
Ist soweit fertig: [https://github.com/Jasper-Ben/dns64-docker](https://github.com/Jasper-Ben/dns64-docker)
Habe auch noch einen alpine branch erstellt, funktioniert auch soweit. Frage ist nur ob die default zones, welche unter Debian automatisch eingerichtet werden ebenfalls benötigt werden.

[2018-11-03 17:23] christf commented on #49
Cool. Gibt's das schon bei dockerhub?

[2018-11-04 02:52] Jasper-Ben commented on #49
jasperben/dns64-docker

[2018-11-05 08:11] penguineer opened #52 "Review/Update der community.json"
https://github.com/FreifunkMD/community.json

* [x] Anpassung Link der Projektseite / Projektanzahl
* [x] Anpassung Timeline
* [x] Review IRC in Kontaktdaten
* [x] Generelles Review der Angaben

[2018-11-05 08:12] penguineer commented on #42
Wird im Rahmen von #52 gelöst.

[2018-11-05 08:12] #42 closed, assigned to penguineer

[2018-11-17 11:40] johannwagner opened #53 "Unifi AP der Unitheke"
Moinsen,

ich hab hier, weil ich zu laut hier geschrien habe, die APs der Unitheke liegen. Das sind zwei Unifi AP, die ne kaputte Freifunk-Firmware hatten. However, ich kann keine neue Firmware flashen, da wir keine Images für das Gerät haben. Ich hab versucht andere Unifi Images zu flashen, die den gleichen Chipsatz haben, ohne Erfolg. Firmware-Images für das Gerät ausm Harz funktionieren auch ni

[2018-11-19 07:26] LeSpocky commented on #53
Laut https://gluon.readthedocs.io/en/v2016.2.7/ wird das Gerät von unserer Firmware unterstützt. Stable Firmware hätten wir dafür folgende:

* [factory](https://firmware.md.freifunk.net/stable/0.39/factory/gluon-ffmd-0.39-ubiquiti-unifi.bin)
* [sysupgrade](https://firmware.md.freifunk.net/stable/0.39/sysupgrade/gluon-ffmd-0.39-ubiquiti-unifi-sysupgrade.bin)

Ich würde versuchen die Ubiquiti-Firmwa

[2018-11-19 08:04] johannwagner commented on #53
Ich hab versucht, `sysupgrade` über tftp-Boot und ssh einzuspielen. Ich werde das mit der Factory-Firmware im Laufe des Tages probieren.

[2018-11-30 20:14] penguineer commented on #48
@Jasper-Ben ; Kannst Du das Repo an FreifunkMD übertragen?

[2018-11-30 22:27] penguineer commented on #48
Das File netsocket.json fehlt noch:
https://www.jool.mx/en/config-joold.html

Lösung analog zu https://github.com/Jasper-Ben/dns64-docker/blob/master/entrypoint.sh ?

[2018-12-01 10:42] Jasper-Ben commented on #48
Klar, kann ich machen. Sobald die netsocket.json konfiguriert und ein entrypoint konfiguriert ist, sollte es laufen

[2018-12-01 10:45] Jasper-Ben commented on #48
Ich brauch noch Berechtigungen zum Übertragen

[2018-12-01 11:03] penguineer commented on #48
Hm... nein, Du kannst einfach einen Transfer an FreifunkMD machen und dann sollte ein Request ankommen?

Ich gucke mal, ob Du hier in der Dev-Liste stehst.

[2018-12-01 14:28] christf commented on #49
den ursprünglichen dns64 container habe ich auf der test-vm aktiviert - dns64 funktioniert dort mit der richtigen Konfiguration via dns64-docker-run script

[2018-12-02 21:16] Jasper-Ben commented on #48
mit dev-liste gehts :)

[2019-02-08 19:08] penguineer opened #54 "Statistiken in der Map werden nicht gefunden"
https://map.md.freifunk.net/stats ist in der nginx-Config deaktiviert – Aktivierung bringt auch nichts, da das Grafana zwar läuft, wenn man es startet, aber keine Daten liefert.

Was haben wir da signifikant geändert?

[2019-02-22 19:49] penguineer opened #55 "Blog-Artikel: Roadmap 2019"
* batman-Firmware wird nicht nachgeführt (Probleme bei den nächsten Updates, Wechsel des Mesh-Verfahrens)
* Aufbau eines parallelen Babel-Netzes und sanfte Migration

[2019-02-22 19:56] penguineer opened #56 "Upstream-Link für https://github.com/FreifunkMD/community.json aufheben lassen"

[2019-02-22 19:59] #52 closed, assigned to penguineer

[2019-03-08 19:40] christf commented on #50
https://github.com/freifunk-stuttgart/site-ffs/blob/master/Jenkinsfile

[2019-03-08 19:49] penguineer commented on #49
Bevor dieses Ticket geschlossen wird, wollen wir erst prüfen, ob auch alles funktioniert.

[2019-03-08 19:49] penguineer commented on #48
Bevor dieses Ticket geschlossen wird, wollen wir erst prüfen, ob auch alles funktioniert.

[2019-03-08 19:49] penguineer commented on #47
Bevor dieses Ticket geschlossen wird, wollen wir erst prüfen, ob auch alles funktioniert.

[2019-03-08 19:49] penguineer commented on #46
Bevor dieses Ticket geschlossen wird, wollen wir erst prüfen, ob auch alles funktioniert.

[2019-03-08 20:05] penguineer commented on #8
Franz wohnt inzwischen in Darmstadt.

[2019-03-08 20:07] penguineer opened #57 "Anleitung zum Einrichten eines Routers aktualisieren"

[2019-03-08 20:07] penguineer opened #58 "Aufruf zur Mitarbeit überarbeiten"

[2019-03-08 20:08] Kwa5ir commented on #58
https://md.freifunk.net/2016/03/aufruf-zur-mitarbeit/

[2019-03-08 20:09] Kwa5ir commented on #57
https://md.freifunk.net/mitmachen/router-einrichten/

[2019-03-08 20:10] TheRojam commented on #57
Bitte Zugriffsrechte im Worpdress geben @penguineer @christf

[2019-03-08 20:11] TheRojam commented on #58
Bitte Zugriffsrechte im Worpdress geben @penguineer @christf

[2019-03-08 21:47] penguineer commented on #58
Done

[2019-03-08 21:48] penguineer commented on #57
Done

[2019-03-08 22:07] TheRojam commented on #57
Login *funktioniert*!

[2019-03-08 22:08] TheRojam commented on #58
Login *funktioniert*!

[2019-03-22 19:50] penguineer commented on #56
Anfrage wurde gestellt.

[2019-03-22 20:37] TheRojam commented on #58
Habs mal aktualisiert.

[2019-03-22 20:37] #58 closed, assigned to TheRojam

[2019-03-22 21:19] TheRojam commented on #57
weitere führende Links aktualisiert. (Freifunktreffen)

[2019-03-28 12:15] penguineer commented on #56
Done :)

[2019-03-28 12:15] #56 closed, assigned to penguineer

[2019-04-24 18:32] TheRojam commented on #57
@christf @Kwa5ir @penguineer mag mal einer von euch drüber schauen?

[2019-05-03 12:51] Kwa5ir commented on #59
Für kleiner Flächen
- TP-Link TL-MR3020 Portable Router
- TP-Link TL-WR940N N450
- GL.iNet GL-AR150

Für den Professionellen Einsatz
- TP Link Archer C7v5 ~70€.
- AVM Fritzbox 4040 ~70€
- TP-Link TL-WR1043NDv5, ca. 33-45€.
- TP-LINK TL-WDR3600
- TP-LINK TL-WDR4300

Außenbereich
- Ubiquiti UAP AC Mesh UAP-AC-M (ca. 95€)
- Ubiquiti UAP AC Mesh Pro UAP-AC-M-Pro (ca. 160€)
- Ubiquiti Rocket M2 (95€) +

[2019-05-03 12:56] Kwa5ir commented on #57
Ähm,
Punkt 3 ist doch hinfällig da die Knoten nicht mehr registiert werden müssen

[2019-05-04 21:04] Kwa5ir commented on #54
Prometheus Services wurde nicht vom alten GW2 migriert
Mit Abbau des alten GW2 funktionieren die Statiskten nicht mehr.
Weitere Schritte.
- Aufbau eines Docker Containers mit Prometheus

[2019-05-08 18:15] Kwa5ir commented on #54
Prometheus Docker Image heruntergeladen und gestartet
Config File angepasst
Stats laufen
Performance Probleme auf dem Server beim Rendern der Grafiken high CPU Load

==================================================================
  PID USER      PR  NI    VIRT    RES    SHR S %CPU %MEM     TIME+ COMMAND
31060 grafana   20   0 1660960 144184  36024 R 32.2 14.1   0:01.09 phantomjs
31062 grafana

[2019-05-08 18:23] #54 closed, assigned to Kwa5ir

[2019-05-08 18:32] Kwa5ir opened #60 "Performance Issue laoding Grafana Map"
Performance Issue beim Laden der Statisikgrafiken in der Übersichtskarte.
Ladedauer der Grafiken 6800ms

<pre><span style="background-color:#FFFFFF"><font color="#300A24">  PID USER      PR  NI    VIRT    RES    SHR S %CPU %MEM     TIME+ COMMAND                                                                            </font></span>
<b>31060 grafana   20   0 1660960 144184  36024 R 32.2 14.1   0:

[2019-05-08 18:32] Kwa5ir commented on #60
Iostats Daten
<pre>Device:         rrqm/s   wrqm/s     r/s     w/s    rkB/s    wkB/s avgrq-sz avgqu-sz   await r_await w_await  svctm  %util
vda
                  0.00     0.06    0.03    1.30     0.43     7.28    11.55     0.00    2.44   46.68    1.29   0.56   0.08
</pre>

[2019-05-09 06:38] LeSpocky commented on #54
Siehe #60.

[2019-05-17 18:50] TheRojam opened #61 "Ticket-Umzug Redmine"
Wir wollen das neue [Redmine](https://redmine.n39.eu) für die Organisation von Freifunk benutzen.
Dafür müssen wir die Tickets aus Github ins Redmine überführen.

[2019-05-17 18:52] Kwa5ir commented on #59
Prüfen der Router ob sie von der 2016 Firmware unterstützt werden

[2019-05-26 17:32] christf opened #62 "babel nodes auf map bringen"
... im Moment fehlen die babel nodes. Wär klasse, wenn die mit auf der gemeinsamen MAP wären.

[2019-05-26 17:33] christf opened #63 "autoupdate im babel netz ermöglichen"
root@draco:~# autoupdater
Retrieving manifest from http://experimental,updates.firmware.ffmd/experimental-babel/sysupgrade/experimental_babel.manifest ...
autoupdater: warning: error downloading manifest: Connection failed
autoupdater: error: no usable mirror found

[2019-05-26 17:34] christf opened #64 "Babelnet: Zweiten VPN Gateway aufbauen"
ein VPN GW funktioniert gut, bietet aber keine Redundanz bei Serverwartung.

[2019-05-26 20:51] christf commented on #51
mittlerweile weiß ich es. ES handelt sich um eine GRE-Konfiguration auf GW2.

Auszug aus der /etc/network/interfaces

# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eth0

[2019-05-26 20:54] christf commented on #49
es funktioniert. Der Härtetest wird ein redundnater Aufbau

[2019-05-26 20:55] christf commented on #48
es funktioniert. Allerdings ist außenrum ziemlich viel zu konfigurieren, dass gegenwärtig noch nicht Teil der docker-files ist. Ich nutze da fwmarks die per ip6tables gemacht werden und die dann per iptables wieder ausgewertet werden - und eine entsprechende ip rule.

Mindestens die Doku ist noch zu erstellen, ggf auch die Einrichtung zu erleichtern

[2019-05-26 20:56] christf commented on #46
es geht!

[2019-05-26 20:56] #46 closed, assigned to christf

[2019-05-26 20:59] christf commented on #43
der wireguard vpn docker container läuft.

[2019-05-30 12:02] penguineer commented on #51
Okay, das sollte in unser Wiki. ^^

[2019-05-30 12:03] penguineer commented on #63
Das kommt alles vom gw1 - gibt es dorthin eine Verbindung? Oder sollten wir die Frage, wer die Firmware ausliefert, vorher klären?

[2019-05-30 12:05] penguineer commented on #62
Was ist dafür notwendig?

Brauchen wir vorher ein Update der Map-Software?

[2019-05-31 08:36] Kwa5ir commented on #62
Moin,
theoretisch müsste der HopGlass-server und HopGlass-Client aktualisiert werden. Allerding habe ich bis jetzt noch keine Build Nr. oder was in der art gefunden um das zu verifizieren.
=> https://github.com/hopglass/hopglass-server
=> https://github.com/hopglass/hopglass

[2019-05-31 15:08] penguineer commented on #62
Die Repos sind da auch direkt ausgecheckt (web1: /opt/hopglass)

Aktueller head:
* server: 8ea3619cd1444fe0d70efc8fe920a24982546e42
* web: 2da97bca161551d130e46d27245b4a4dd1afc77d

Zeigt beides jeweils auf origin/master - da muss man dann mal gucken, wo das effektiv steht.

[2019-05-31 21:37] penguineer commented on #62
/var/ffmap:

d61a34be533d07801104a31c8563ce66f354378b

**Die map ist so nicht mehr vorhanden! (master im Repo wurde per force-push durch eine Deprecation Warning ersetzt)**
Unser Stand ist im ffmd-branch des Forks.

[2019-05-31 22:05] penguineer commented on #61
Legt alle neuen Issues bitte dort ab: https://redmine.n39.eu/projects/ffmd

[2019-06-14 18:41] Jasper-Ben commented on #63
TODO: URL, DNS anpassen. Updater an sich sollte funktionieren.

[2019-06-14 18:46] Jasper-Ben commented on #64
Hier müsste nur Docker auf dem zweiten Gateway installiert, und entsprechende Images und Configs gezogen werden.

[2019-06-14 19:03] TheRojam commented on #57
Sollte nun korrigiert sein.

*Please check* @Kwa5ir @christf @penguineer ty.

[2019-06-24 09:48] #57 closed, assigned to TheRojam

[2019-08-09 20:28] penguineer commented on #14
Hat sich inzwischen erledigt.

[2019-08-09 20:28] #14 closed, assigned to penguineer, lxusrbin

[2019-09-04 06:52] christf commented on #48
die Rules liegen in /etc/network/if-up.d/docker-jool.conf

[2019-09-04 06:53] christf commented on #63
DAs autoupdate geht jetzt über gw1.

[2019-09-04 06:53] #63 closed, assigned to nobody

[2019-09-04 06:54] christf commented on #62
Man nutzt wohl den meshviewer, yanic und muss ähnlich wie für das autoupdate sicherstellen ,dass das routing geht.

[2019-09-04 07:01] christf opened #65 "Upgrade jool to 4.0.1 in docker container"
We are currently running 3.5.6 and we are experiencing los throughput.
There are some performance fixes in 4.0.1, let's see if it helps.

[2019-09-04 07:11] christf commented on #65
laut https://github.com/NICMx/Jool/issues/282 gibt es eine Abhängigkeit auf guten Zufall in jool. Auf dem Host habe ich probehalber haveged installiert. Wir können jetzt beobachten ob es etwas bringt.

[2019-09-04 07:20] christf commented on #65
beim ersten Test scheint es nicht zu helfen...

[2019-09-04 07:21] christf opened #66 "batman gw2 ipv4 performance untersuchen"
Im babel netz sehe ich, dass es langsam ist und das batman netz ist auch nicht schnell

[2019-09-04 18:12] christf commented on #47
autoupdate geht. Die Map noch nicht.

[2019-10-10 09:44] christf commented on #65
das jool upgrade auf 4.0.5 hat geholfen.
Der container ist jedoch noch manuell hingefrickelt und sollte noch sauber aus dockerhub erzeugt werden.

[2019-10-10 09:45] christf commented on #49
Wir nutzen den Container seit Mai, ich schließe das jetzt.

[2019-10-10 09:45] #49 closed, assigned to christf

[2019-10-10 09:46] christf commented on #43
... seit Mai. Ich schließe das mal.

[2019-10-10 09:46] #43 closed, assigned to christf

[2019-10-10 12:05] christf commented on #47
weil autoupdate geht, können wir sagen, dass alles funktioniert. =>schließen.

[2019-10-10 12:05] #47 closed, assigned to nobody

[2019-10-10 19:10] christf commented on #61
kann das neue redmine auch für die Welt lesbar sein?

[2019-10-23 07:27] christf opened #67 "DNS: remove A-records for 1.ntp.ffmd and 2.ntp.ffmd"
the ntpd on openwrt is confused by the a records and only tries IPv4 even though mesh-only-nodes have exclusively ipv6 addresses.
[code]

to allow mesh-only-nodes to adjust their system clock, we can remove the A records from 1.ntp.ffmd and 2.ntp.ffmd. This is relevant for both: the current batman net and the babel net.

[2019-10-27 11:04] penguineer commented on #61
Done.

[2019-10-27 11:07] penguineer commented on #67
Wie dringend ist das? Reicht es, wenn der neue DNS die Records dann einfach nicht mehr hat?

[2019-11-01 19:51] christf commented on #67
so lange geht halt NTP nicht im Batman und nicht im Babel Netz.

[2019-11-01 19:54] christf commented on #62
Wir haben eine babel map. @oszilloskop  hat sie gebaut. Besten Dank!
http://gw01.babel.md.freifunk.net:8010/#/de/map#!/de/map
Wie können da die Batman-Nodes mit drauf?

[2019-11-01 23:10] penguineer commented on #67
Ist in der bind-config erledigt.

[2019-11-01 23:10] #67 closed, assigned to penguineer

[2019-11-02 14:03] oszilloskop commented on #62
Aus Sicht der neuen Map wäre es am einfachsten, wenn über Yanic eine eigene `meshviewer.json` aus dem Batman-Netz erstellt werden würde. Die Knoten aus der Babel-meshviewer.json und der Batman-meshviewer.json können dann gleichzeitig innerhalb einer Map dargestellt werden.

[2019-11-03 23:35] christf commented on #62
On Sat, Nov 02, 2019 at 07:03:48AM -0700, oszilloskop wrote:

Das Batman Netz ist erreichbar. Wo gibt es denn diese json Datei?

--
()  ascii ribbon campaign - against html e-mail
/\  www.asciiribbon.org   - against proprietary attachments

[2019-11-03 23:50] oszilloskop commented on #62
Aktuell wird für die Batman-Map der Hopglass-Server verwendet. Dieser kann leider keine json im richtigen Format erzeugen.
Daher müsste zusätzlich ein Yanic für das Batman-Netz aufgesetzt werden. Die json-Datei wird von Yanic erstellt. In der Yanic-Konfiguration wird auch der lokale Ablageort angegeben. Die Datei muss dann irgendwie per Webserver erreichbar gemacht werden.
Auf dem gw01 ist z.B. di

[2019-11-04 17:27] Kwa5ir commented on #62
Moin

Schau mal unter Folgenden Links

http://web1.md.freifunk.net:4000/raw.json

http://web1.md.freifunk.net:4000/nodes.json

Ganz unten auf der Seite sind die Query Locations evtl kannst du damit
was anfangen

http://www.netz39.de/wiki/freifunk:webserverkonfiguration

Grüße

Peter

Am 04.11.2019 um 00:50 schrieb oszilloskop:

[2019-11-04 18:05] oszilloskop commented on #62
Ja, die Wiki-Seite und die darin ganz unten aufgeführte Tabelle kenne ich.
Leider ist Meshwiever nicht gleich Meshviewer. Mit der Meshviewer-Weiterentwicklung aus Regensburg (ffrgb) wurde ein weiteres mi­ni­ma­lis­tisches Format der json-Datei eingeführt (die hat den fixen Namen "meshviewer.json"). Die vormaligen Formate funktionieren leider nicht mit dem Regensburger Meshviewer.
Man könnte jetzt

[2019-11-04 19:12] oszilloskop commented on #27
Der Frankfurter FirmwareReleaseBuilder wurde/wird von mir entwickelt :)
Er war ursprünglich stark an Frankfurt angelehnt. Da @christf ihn auch für seine Babel-Entwicklung benutzt, wurden die Frankfurter Abhängigkeit peu à peu entfernt. Lediglich default-Werte einiger CLI-Parameter zeigen noch wo seine Wurzeln liegen.
Der aktuelle Frankfurter FirmwareReleaseBuilder wurde stark weiterentwickelt, ist

[2020-01-11 07:47] christf commented on #65
das ist erledigt

[2020-01-11 07:47] #65 closed, assigned to nobody

[2020-01-11 07:50] christf commented on #62
Das wäre ein super nächster Schritt. Wenn das erfolgt ist, könnte die Reihenfolge so vertauscht werden, dass map.md.freifunk.net auf die babel-map (im docker container) zeigt, welche die batman-nodes und die babel-nodes enthält.

[2020-01-11 07:51] #48 closed, assigned to christf

[2020-01-11 07:52] christf commented on #50
Mittlerweile gibt es in gluon auch in contrib ein Jenkinsfile

[2020-01-11 07:59] christf commented on #13
Wie ist hier der Stand?

[2020-01-11 08:00] christf commented on #8
Kwasir und ich haben die Anleitung der babel-gateways zum Teil durchgearbeitet und aktualisiert.
Wir sind nicht ganz durchgekommen, weil wir unterwegs noch Fehler im Docker-Container gefunden haben, die mittlerweile gelöst sind. Nun brauchen wir einen neuen Anlauf mit einem neuen Gateway.

[2020-01-11 08:01] #19 closed, assigned to nobody

[2020-01-11 08:18] christf commented on #64
Wir haben ein zewites Gateway.

[2020-01-11 08:18] #64 closed, assigned to Jasper-Ben

[2020-01-11 14:14] andreasscherbaum commented on #64
Habt ihr die Anleitung dafür irgendwo dokumentiert?

[2020-01-13 18:01] penguineer commented on #13
Wir sollten das mit dem Einrichten des neuen web1 kombinieren.
https://redmine.n39.eu/issues/307

[2020-02-23 15:00] penguineer commented on #60
Wir installieren das Grafana auf einer schnelleren Maschine neu.

[2020-02-23 15:00] #60 closed, assigned to Kwa5ir